:root{

    /*-- core --*/
      --background: #1a1b1d;
      --textColor: rgb(255, 255, 255);
      --alinkHover:rgb(255, 255, 255);
      --btnBackground:#ddb217;
      --btnHover:rgb(139, 0, 0);
      --btnTextColor:rgb(0, 0, 0);
      --circles:rgba(103,112,127,.6);

      /* showcase */
      --pBackground: rgba(93, 93, 93, 0.3);

      /* section- a */
      --navbarBorder:rgb(186, 46, 47, 1);
      --navbarBackground:rgb(93, 93, 93, 1);
      --navMouseOver: #4b4b4b;

      /* section- c */
      --section-c:#ba2e2f;

      /* footer */
      --section-footer:#5d5d5d;
      --tags:#616162;
      --tagsBackground:#252425;
      --linkColor: #8b0000;
      --infoTextColor:#252425;
    
    /*-- Fonts --*/
      --font:fantasy;
    
    }


/*--Core Styles--*/

body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:var(--textColor);
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .05em;
    

}


h1, h2, h3, h4, a{
    color: var(--textColor);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btnBackground);
    display: block;
    color: var(--btnTextColor);
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background: var(--btnHover);

}

a:hover{
  color: var(--a-linkHover) !important;
}

/*-- Showcase Start--*/

@media screen and (max-width: 750px){ 

#showcase {
    position: absolute;
    width:100%;
    height: 91%;
    overflow: hidden;
}


#showcase .bg-image{
    display:none;

}


#showcase .s-bg-image{
    width:100%;
    height:100%;
}


#showcase .container{
 position: absolute;
 top:5%;
 height: 95%;
 display:flex;
 flex-direction: column;


}

#showcase .logo{
    position: relative;
    left:5%;
    width:30%;
    

}

#showcase h1{
  position: relative;
  top:20%;
  flex-basis:97%;
  font-family: var(--font);
  font-size: 5vh;
  text-transform: capitalize;
  align-self: center;
}

#showcase p{
  position: relative;
  width:96%;
  margin: auto;
  text-align: left;
  font-family: sans-serif;
  font-size: 2.3vh;
  flex-basis:100%;
  background: var(--pBackground);
  overflow: hidden;
}


/*-- Showcase End--*/

/*-- Section-a Start--*/


#section-a{
    position: absolute;
    top: 92%;
    height:7vh;
    width:100%;
    overflow:hidden;
    background: var(--background);


}


#section-a ul{
    width:98%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

#section-a li{
    position: relative;
    width:50%;
    height:82%;
    display: flex;
    
  }


#section-a ul li a{
  width:90%;
  height:75%;
  font-family: var(--font);
  background:var(--navbarBackground);
  border-radius: 5px;
  border: 2px solid var(--navbarBorder);
  border-top: 8px solid var(--navbarBorder);
  font-size: 2vh;

}


/*-- Section-a Finish--*/


/*-- Section-c Start--*/
#section-c{
    position: absolute;
    top:100.7%;
    width:100%;
    height:10%;
    background:var(--section-c);
    display:flex;
    justify-content: center;
    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/* footer start */
    

#section-footer{
  position: absolute;
  width: 100%;
  top:110.7%;
  height:75%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
width:100%;
height: 75%;
margin-right:1%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: flex-end;

}

#section-footer .reds a{
  color: var(--linkColor);
  
 
 }
 
 

#section-footer ul, li, a {
background-color: inherit;


}

#section-footer .reds, .services, .location, .contacts{
  width:29%;
  height: 40%;
  margin-right: 2%;
font-family: var(--font);



}

#section-footer .reds, .services, .location, .contacts{
  font-size: 2vh;
  
}

#section-footer .reds, .services, .location,  li{
  text-align: left;
  
}



#section-footer .contacts p{
 padding:7%;
 
}



#section-footer .info .box{
width: 25%;
height: 20%;

}

/*-- tags--*/
.info-bottom{
  width: 100%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1.6vh;
  color: var(--infoTextColor#252425);
  font-family: var(--text);
  background: var(--background);
  display:flex;
  flex-direction: column;

  }
  
  .info-bottom .rights{
    width:100%;
    height: 35%;

  }
  
  .rights ul {
    width:80%;
    height: 7vh;

  
  }
  

  
  .rights li {
    text-align: center;
}
  
  
  
  .info-bottom .tags{
    background:var( --tagsBackground);
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .info-bottom .tags li{
  width:20%;
  height: 25%; 
  font-size: 1.4vh;
  color: var(--tags);
  font-family: var(--text);
  }

/*-- Footer end--*/ 

 }


/*--Media--*/


@media(min-width:768px){

    #showcase {
        position: absolute;
        width:100%;
        height: 100%;  
        overflow: hidden; 
    
    }
    
    #showcase .container{
        position: absolute;
        top:5%;
        width:100%;
        height: 100%;
       display: flex;
       flex-direction: column;
      
       
     }
    
    
    #showcase .bg-image{
        width:100%;
        height:100%;
     
    }
    
    
    #showcase .s-bg-image{
         display: none;
    }

#showcase .container{
 position: absolute;
 top:5%;
 height: 95%;
 display:flex;
 flex-direction: column;


}

#showcase .logo{
    position: relative;
    left:5%;
    width:10%;
    

}

#showcase h1{
    position: absolute;
    top:5%;
    width:97%;
    left:2.5%;
    font-family: var(--font);
    font-size: 550%;
    text-transform: capitalize;
}

#showcase p{
 position: relative;
  top:1%;
  width:30%;
  left:34%;
  height: 100%;
  margin: auto;
  text-align: left;
  font-family: sans-serif;
  font-size: 110%;
  background: rgba(93, 93, 93, 0.3);
  overflow: hidden;
}


/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/

#section-a{
    position: absolute;
    top: 101%;
    height:11%;
    width:100%;
    overflow:hidden;
    background: var(--background);
  
  
  }
  
  
  #section-a ul{
    position: relative;
    width:98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }
  
  #section-a li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
  #section-a a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-family: var(--font);
  background:var(--navbarBackground);
  border-radius: 5px;
  border: 2px solid var(--navbarBorder);
  border-top: 8px solid var(--navbarBorder);
  font-size: 2em;
  
  
  }
  
  #section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
  
  }
  
  

/*-- Section-a Finish--*/


/*-- Section-c Start--*/
#section-c{
    position: absolute;
    width:100%;
    top:110%;
    height:16%;
    background:var(--section-c);
    display:flex;
    justify-content: center;

    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


 /* footer start */
  

#section-footer{
  position: absolute;
  width: 100%;
  top:128%;
  height:75%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
width:100%;
height: 75%;
margin-right:1%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: flex-end;

}

#section-footer .reds a{
  color: var(--linkColor);
  
 
 }
 
 

#section-footer ul, li, a {
background-color: inherit;


}

#section-footer .reds, .services, .location, .contacts{
  width:29%;
  height: 40%;
  margin-right: 2%;
font-family: var(--font);



}

#section-footer .reds, .services, .location, .contacts{
  font-size: 2vh;
  
}

#section-footer .reds, .services, .location,  li{
  text-align: left;
  
}



#section-footer .contacts p{
 padding:7%;
 
}



#section-footer .info .box{
width: 15%;
height: 20%;

}




/*-- tags--*/

.info-bottom{
width: 100%;
height: 30%;
font-family: sans-serif;
font-size: 1.6vh;
color: var(--infoTextColor#252425);
font-family: var(--text);
background: var(--background);
display:flex;
flex-direction: column;

}

.info-bottom .rights{
  width:100%;
  height: 35%;

}

.rights ul {
  width:80%;
  height: 7vh;


}



.rights li {
  text-align: center;
}



.info-bottom .tags{
  background:var( --tagsBackground);
  width:100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.info-bottom .tags li{
width:18%;
height: 25%; 
font-size: 1.4vh;
color: var(--tags);
font-family: var(--text)
}

/*-- Footer end--*/ 

}
  