:root{

/*-- colors --*/
  --background: #1a1b1d;
  --text-color: #fff;
  --section-c:#ba2e2f;
  --section-d:#5d5d5d;
  --btn:#ddb217;
  --circles:rgba(103,112,127,.6);
  --navMouseOver: #4b4b4b;


/*-- Fonts --*/
  --font:fantasy;

}


/*--Core Styles--*/

body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:#fff;
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;

}


h1, h2, h3, h4, a{
    color: var(--text-color);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btn);
    display: block;
    color:black;
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background:darkred;

}


/*-- Showcase Start--*/

@media screen and (max-width: 750px){ 

#showcase {
    position: absolute;
    width:100%;
    height: 80%;
    overflow: hidden;
}


#showcase .bg-image{
    display:none;

}


#showcase .s-bg-image{
    width:100%;
    height:100%;
}


#showcase .container{
 position: absolute;
 top:5%;
 height: 95%;
 display:flex;
 flex-direction: column;


}

#showcase .logo{
    position: relative;
    left:5%;
    width:30%;
    

}

#showcase h1{
  position: relative;
  top:20%;
  flex-basis:97%;
  font-family: var(--font);
  font-size: 240%;
  text-transform: capitalize;
  align-self: center;
}

#showcase p{
  position: relative;
  width:96%;
  margin: auto;
  text-align: left;
  font-family: sans-serif;
  font-size: 110%;
  flex-basis:100%;
  background: rgba(93, 93, 93, 0.3);
  overflow: hidden;
}


/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/


#section-a{
    position: absolute;
    top: 80%;
    height:100%;
    width:100%;
    overflow:hidden;
    background: var(--background);


}


#section-a ul{
    flex-basis:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#section-a li{
    width:100%;
    height:5%;
    display: flex;
   



}

 #section-a a{
  width:100%;
  height:100%;
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 1em;

}

#section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;

}



/*-- Section-a Finish--*/


/*-- Section-c Start--*/
#section-c{
    position: absolute;
    top:102.7%;
    width:100%;
    height:10%;
    background:var(--section-c);
    display:flex;
    justify-content: center;
    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
position: absolute;
width: 100%;
top:113.8%;
height:60%;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
background:var(--section-d);
overflow: hidden;
}


#section-d ul, li, a {
  background-color: inherit;
  font-size: 80%;
  text-transform: uppercase;
  
}

#section-d .reds, .services, .location, .contacts, .media{
  position: relative;
  width:30%;
  height: 37%;
  top:5%;
  font-family: var(--font);
  font-size: 1.em;
}

 #section-d .contacts{
   position: relative;
   width:40%;
   height: 35%;
   left: 25%;

}


#section-d .box{

  width: 15%;
  height: 15%;
 

}

 
#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}



/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    width: 100%;
    height: 25%;
    top:177%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: var(--background);

}


#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 50%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}

}
/*-- Footer end--*/


/*--Media--*/


@media(min-width:768px){

    #showcase {
        position: absolute;
        width:100%;
        height: 100%;  
        overflow: hidden; 
    
    }
    
    #showcase .container{
        position: absolute;
        top:5%;
        width:100%;
        height: 100%;
       display: flex;
       flex-direction: column;
      
       
     }
    
    
    #showcase .bg-image{
        width:100%;
        height:100%;
     
    }
    
    
    #showcase .s-bg-image{
         display: none;
    }

#showcase .container{
 position: absolute;
 top:5%;
 height: 95%;
 display:flex;
 flex-direction: column;


}

#showcase .logo{
    position: relative;
    left:5%;
    width:10%;
    

}

#showcase h1{
    position: absolute;
    top:5%;
    width:97%;
    left:2.5%;
    font-family: var(--font);
    font-size: 550%;
    text-transform: capitalize;
}

#showcase p{
 position: relative;
  top:1%;
  width:30%;
  left:34%;
  height: 100%;
  margin: auto;
  text-align: left;
  font-family: sans-serif;
  font-size: 110%;
  background: rgba(93, 93, 93, 0.3);
  overflow: hidden;
}


/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/

#section-a{
    position: absolute;
    top: 101%;
    height:11%;
    width:100%;
    overflow:hidden;
    background: var(--background);
  
  
  }
  
  
  #section-a ul{
    position: relative;
    width:98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }
  
  #section-a li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
  #section-a a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 2em;
  
  
  }
  
  #section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
  
  }
  
  

/*-- Section-a Finish--*/


/*-- Section-c Start--*/
#section-c{
    position: absolute;
    width:100%;
    top:110%;
    height:16%;
    background:var(--section-c);
    display:flex;
    justify-content: center;

    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
    position: absolute;
    width: 100%;
    top:128%;
    height:60%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background:var(--section-d);
    overflow: hidden;
}



#section-d ul, li, a {
  background-color: inherit;
  font-size: 100%;
  text-transform: uppercase;
  
}

#section-d .reds, .services, .location, .contacts, .media{
  position: relative;
  width:30%;
  height: 37%;
  top:5%;
  font-family: var(--font);
  font-size: 1.em;
}

 #section-d .contacts{
   position: relative;
   top:35%;
  
  

}

 
#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}

#section-d .media{
  position: absolute;
  top:72%;
  right:14%;
  width: 27%;
  height: 15%;
  display:flex;
 justify-content: flex-end;
 align-items: space-between;


}


#section-d .box{

  width: 10%;
  height: 20%;
 

}


/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    top:188%;
    width: 100%;
    height: 35%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: var(--background);

}


#main-footer ul{
  position: relative;
  top:5%;

}

#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 10%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}
}
/*-- Footer end--*