:root{

    /*-- core --*/
      --background: #1a1b1d;
      --textColor: rgb(255, 255, 255);
      --alinkHover:rgb(255, 255, 255);
      --btnBackground:#ddb217;
      --btnHover:rgb(139, 0, 0);
      --btnTextColor:rgb(0, 0, 0);
      --circles:rgba(103,112,127,.6);

      /* showcase */
      --pBackground: rgba(93, 93, 93, 0.3);

      /* section- a */
      --navbarBorder:rgb(186, 46, 47, 1);
      --navbarBackground:rgb(93, 93, 93, .5);;
      --navMouseOver: #4b4b4b;

      /* section- c */
      --section-c:#ba2e2f;

      /* footer */
      --section-footer:#5d5d5d;
      --tags:#616162;
      --tagsBackground:#252425;
      --linkColor: #8b0000;
      --infoTextColor:#252425;
    
    /*-- Fonts --*/
      --font:fantasy;
    
    }


/*--Core Styles--*/

body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:var(--textColor);
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .05em;
    

}


h1, h2, h3, h4, a{
    color: var(--textColor);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btnBackground);
    display: block;
    color: var(--btnTextColor);
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background: var(--btnHover);

}

a:hover{
  color: var(--a-linkHover) !important;
}




 
  /*-- Showcase Start--*/

 #showcase {
    width:100%;
    height: 100%;  
    overflow: hidden; 

}


#showcase .bg-image{
  display:none;

}


#showcase .s-bg-image{
  width:100%;
  height:auto;
}




#showcase .logo{
  position: absolute;
  top:4%;
  left:4%;
  width:30vw;
  height: auto;
}


section .me {
  width:100%;
  height: 60%;
  overflow: hidden;

  }

.me p{
width:95vw;
height: 45vh;
margin: 0 auto;
padding:0%;
text-align: left;
font-family: sans-serif;
font-size: 2.3vh;
background: var(--pBackground);
align-self: center;

}


/*-- Showcase End--*/

/*-- Section-a Start--*/


#section-a{
  position: absolute;
  top: 102%;
  height:8%;
  width:100%;
  overflow:hidden;
  background: var(--background);


}


#section-a ul{
  width:98%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

#section-a li{
  position: relative;
  width:50%;
  height:82%;
  display: flex;
  
}


#section-a ul li a{
width:90%;
height:75%;
font-family: var(--font);
background:var(--navbarBackground);
border-radius: 5px;
border: 2px solid var(--navbarBorder);
border-top: 8px solid var(--navbarBorder);
font-size: 2.5vh;

}


/*-- Section-a Finish--*/

/*-- Section-c Start--*/
  
  
#section-c{
  position: absolute;
  top:110%;
  width:100%;
  height:10%;
  background:var(--section-c);
  display:flex;
  justify-content: center;
  overflow: hidden;
}


#section-c .s-brand{
  position: relative;
  height: 50%;
  align-self: center;
  animation: moving-banner 29s linear infinite;

}

#section-c .brand{
 display: none;

}


@keyframes moving-banner {

0%{
  left: -104%;
}
100%{
  left: 100%;
}

}
/*-- Section-c End--*/


/* footer start */
  

#section-footer{
  position: absolute;
  width: 100%;
  top:120%;
  height:100%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
width:100%;
height: 75%;
margin-right:1%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;

}

#section-footer .reds a{
  color: var(--linkColor);
  
 
 }
 
 

#section-footer ul, li, a {
background-color: inherit;


}

#section-footer .reds, .services, .location, .contacts{
  width:26%;
  font-size: 2vh;
font-family: var(--font);


}


#section-footer .reds, .services, .location,  .contacts {
height: 40%;
  
}



#section-footer .reds, .services, .location,  li{
  text-align: left;
  align-content: space-around;
  
}



#section-footer .contacts p{
 padding:7% 0%;
 
}


#section-footer .contacts{
    width:40%;
 margin-left: 45%;
 }
 
 

#section-footer .info .box{
width: 25%;
height: auto;
padding-left:3%; 


}




/*-- tags--*/

.info-bottom{
width: 100%;
height: 30%;
font-family: sans-serif;
font-size: 1.6vh;
color: var(--infoTextColor#252425);
font-family: var(--text);
background: var(--background);
display:flex;
flex-direction: column;

}

.info-bottom .rights{
  width:100%;
  height: 35%;

}

.rights ul {
  width:50%;
  height: 7vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}



.rights li {
  text-align: center;
}



.info-bottom .tags{
  background:var( --tagsBackground);
  width:100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info-bottom .tags li{
width:20%;
height: 25%; 
font-size: 1.4vh;
color: var(--tags);
font-family: var(--text);
text-align: center;
}

/*-- Footer end--*/ 

@media screen and (min-width: 568px) {

  
/*-- Showcase Start--*/


#showcase {
  width:100%;
  height: 100%; 
  overflow: hidden; 

}


#showcase .bg-image{
display:none;

}


#showcase .s-bg-image{
width:100%;
height:100vh;
}




#showcase .logo{
  width:15vw;
  height: auto;
}


section .me {
width:100%;
height: 100%;
overflow: hidden;

}

.me p{
width:95vw;
height: 30vh;
margin: 0 auto;
padding:0%;
text-align: left;
font-family: sans-serif;
font-size: 4.4vh;
background: var(--pBackground);
align-self: center;

}



/*-- Showcase End--*/



/*-- Section-a Start--*/

#section-a{
  position: absolute;
  top: 130%;
  height:30%;
  width:100%;
  overflow:hidden;
  background: var(--background);
  
  
  }
  
  
  #section-a ul{
  position: relative;
  width:98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  }
  
  #section-a li{
  position: relative;
  width:50%;
  height:80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
  
 
  #section-a ul li a{
    width:90%;
    height:75%;
    font-size: 7vh;
    
    }
    

  #section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;
  
  }
/*-- Section-a Finish--*/


/*-- Section-c Start--*/

#section-c{
  position: absolute;
  width:100%;
  top:160%;
  height:24%;
  
  }
  
  
  #section-c .s-brand{
     display:none;
  }
  
  
  
  #section-c .brand{
      position: relative;
      width:75%;
      height: auto;
      height: 12vh;
     align-self: center;
     display: block;
     animation: moving-banner 29s linear infinite;
  }
  
  
  /*-- Section-c End--*/
  
  
  /* footer start */
  
  
  #section-footer{
  position: absolute;
  top:184%;
  width: 100%;
  height:150%;
  }
  
  
  #section-footer .reds, .services, .location, .contacts{
    font-size: 4vh;
  }
  
  
  #section-footer .info .box{
  width: 13%;
  height: auto;
  padding: 0% 2% 0% 0%;
  
  }
  
  
  
  
  /*-- tags--*/
  
  .info-bottom{
  font-size: 3.5vh;
  
  }
  
  .rights ul {
    height: 8vh;
  
  }
  
  .info-bottom .tags li{
  font-size: 4vh;
  
  }
    
    /*-- Footer end--*/ 
  
  
  }




@media screen and (min-width: 1024px) {

  
  /*-- Showcase Start--*/
  
  
  #showcase {
    position: relative;
    width:100%;
    height: 100%; 
    overflow: hidden; 
  
  }
  
  
  #showcase .bg-image{
    width:100%;
  height:100vh;
  display: block;

  }
  
  
  #showcase .s-bg-image{
    display:none;
  
  }
  
  
  #showcase .logo{
    width:10vw;
    height: auto;
  }
  
  
  section .me {
    width:100%;
   height: 60%;
   overflow: hidden;

  
  }
  
  .me p{
  position: absolute;
  bottom: 0%;
  right:2%;
  width:50%;
  height: 30vh;
  margin: 0 auto;
  padding:0%;
  text-align: left;
  font-family: sans-serif;
  font-size: 2.2vh;
  background: var(--pBackground);
  align-self: center;
  
  }
  
  
  
  /*-- Showcase End--*/
  
  
  
  /*-- Section-a Start--*/
  
 

#section-a{
  position: absolute;
  top: 102%;
  height:11%;
  width:100%;
  overflow:hidden;
  background: var(--background);
 
}


#section-a ul{
  position: relative;
  width:98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#section-a li{
  position: relative;
  width:25%;
  height:100%;
  display: flex;
}

 
#section-a ul li a{
  width:90%;
  height:75%;
  font-size: 5vh;
  
  }
  

#section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;

}



  /*-- Section-a Finish--*/
  
  
  /*-- Section-c Start--*/
  
  #section-c{
    position: absolute;
    width:100%;
    top:115%;
    height:16%;
}
    
    /*-- Section-c End--*/
    
    
    /* footer start */
    
    #section-footer{
      position: absolute;
      width: 100%;
      top:132%;
      height:100%;
      background:var(--section-footer);
      overflow: hidden;
    }
    
    .info{
      width:100%;
      height: 75%;
      margin-right:1%;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      
      }
      
      #section-footer .reds a{
        color: var(--linkColor);
        
       
       }
       
       
      
      #section-footer ul, li, a {
      background-color: inherit;
      
      
      }
      
      #section-footer .reds, .services, .location, .contacts{
        width:26%;
        font-size: 95%;
        font-size: 2.5vh;
      font-family: var(--font);
      
      
      }
      
      
      #section-footer .reds, .services, .location,  .contacts {
      height: 40%;
        
      }
      
    
    
      #section-footer .reds, .services, .location,  li{
        text-align: left;
        align-content: space-around;
        
      }
      
      
      
      #section-footer .contacts p{
       padding:7% 0%;
       
      }
      
      
      #section-footer .contacts{
          width:30%;
       margin-left: 60%;
       }
       
       
      
      
      
      /*-- tags--*/
      
      .info-bottom{
      width: 100%;
      height: 30%;
      font-family: sans-serif;
      font-size: 1.6vh;
      color: var(--infoTextColor#252425);
      font-family: var(--text);
      background: var(--background);
      display:flex;
      flex-direction: column;
    
      }
      
      .info-bottom .rights{
        width:100%;
        height: 35%;
    
      }
      
      .rights ul {
        width:50%;
        height: 7vh;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
      
      }
      
    
      
      .rights li {
        text-align: center;
    }
      
      
      
      .info-bottom .tags{
        background:var( --tagsBackground);
        width:100%;
        height: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
    
      .info-bottom .tags li{
      width:20%;
      height: 25%; 
      font-size: 1.4vh;
      color: var(--tags);
      font-family: var(--text);
      text-align: center;
      }
      
      /*-- Footer end--*/ 
    
    
    }