

@media screen and (max-width: 750px ){ 

  body{
    background:grey;
    text-align:center;
      background:grey;
      text-align:center;
      }
      
      h1{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 3em;
       color: rgb(1, 1, 75);
      
    }
    
    h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 3em;
     color: rgb(1, 1, 75);

    }
    
  
   ul{
    position: relative;
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

   }

  iframe{
    width:100%;
    height: 90%;
    overflow: hidden;
  }
  
 li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
 a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-size: 2em;
  
  
  }
}

@media(min-width:768px){

  body{
    background:grey;
    text-align:center;
      background:grey;
      text-align:center;
      }
      
      h1{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 3em;
       color: rgb(1, 1, 75);
      
    }
    
    h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 3em;
     color: rgb(1, 1, 75);

    }
    
  
   ul{
    position: relative;
    width:90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

   }

 
  
 li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
 a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-size: 2em;
  
  
  }
}
