:root{

  /*-- core --*/
    --background: #1a1b1d;
    --textColor: rgb(255, 255, 255);
    --alinkHover:rgb(255, 255, 255);
    --btnBackground:#ddb217;
    --btnHover:rgb(139, 0, 0);
    --btnTextColor:rgb(0, 0, 0);
    --circles:rgba(103,112,127,.6);

    /* section- a */
    --navbarBorder:rgb(186, 46, 47, 1);
    --navbarBackground:rgb(93, 93, 93, .5);
    --navMouseOver: #4b4b4b;
     --section-d:#5d5d5d;
     

       /* --nav-- */

       --navbarBorder:#ba2e2f;
       --navbarBackground:rgb(93, 93, 93, .5);
     --section-b-footer:#5d5d5d;
     --section-b:#202020;

     
    /* footer */
    --section-footer:#5d5d5d;
    --tags:#616162;
    --tagsBackground:#252425;
    --linkColor: #8b0000;
    --infoTextColor:#252425;


     

  
  /*-- Fonts --*/
    --font:fantasy;
  
  }
  
  
  /*--Core Styles--*/
  
  body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:var(--textColor);
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .05em;
    

}


h1, h2, h3, h4, a{
    color: var(--textColor);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btnBackground);
    display: block;
    color: var(--btnTextColor);
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background: var(--btnHover);

}

a:hover{
  color: var(--a-linkHover) !important;
}

 



@media(min-width:769px){

      
      h1{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 3em;
       color: rgb(1, 1, 75);
      
    }
    
    h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 3em;
     color: rgb(1, 1, 75);

    }
    
  
   ul{
    position: relative;
    width:90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

   }

 
  
 li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
 a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-size: 2em;
  
  
  }
}



@media screen and (max-width: 768px) {
  
  .contacts{
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
  }
  
  .container{
    width:100%;
    height: 60%;
    background: url(/images/s-contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
  
  }
  
  .container .logo{
    position: absolute;
    width:24%;
    height: 5vh;
    left:6%;
    top:4%;
  
  }
  .container h1{
  width:80%;
  font-size: 8vh;
  align-self: center;
  margin-top: 15%;
  font-family: var(--font);
  
  }
  
  .info, .call {
    height: 33%;
    }
  
  .info h3{
   font-size: 3vh;
  }
  
  .info ul, li, a{
   background: none;
   }
   .info li{
    font-size: 2.2vh;
    text-align: left;
    padding:1%;
    }
   
    .call img {
     margin-top: 13%;
    }
  
    
   /* --NAV START-- */
  
   
   .nav{
    height:20%;
    width:100%;
    background: var(--background);
    overflow: hidden;
  
  }
  
  
  .nav ul{
    width:95%;
    height: 100%;
    margin-top:2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
   
    
  }
  
  .nav li{
    width:35%;
    height:25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
  
  
  
  
  }
  
  
  .nav a{
    width:100%;
    height: 100%;
    font-family: var(--font);
    background:var(--navbarBackground);
    border-radius: 5px;
    border: 2px solid var(--navbarBorder);
    border-top: 8px solid var(--navbarBorder);
    font-size: 2vh;
    text-transform: uppercase;
  
  }
  
  
  .nav a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
  
  }
  
  #section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
  
  }
  
  .style1{
    width:75%;
    margin: 0 auto;
  }
  
  
  /* --SOCIAL-- */
  
  .social{
    width:45%;
    height:10%;
    margin: 0 auto;
   display:flex;
   justify-content: space-around;
   align-items: center;
  }
  
  .social .box{
    width: 30%;
    height: 50%;
    
    }
  
   .info-bottom{
     width:100%;
     height:10%;
  font-family: sans-serif;
  font-size: 1.3vh;
  color: var(--infoTextColor#252425);
  font-family: var(--text);
  background: var(--background);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  
   }
  
   .info-bottom ul{
  width: 100%;
  height: 60%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
    align-items: center;
  
  
  }
  
  
  
   .tags{
   width:100%;
   height: 5%;
   background:var( --tagsBackground);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
   }
  
   .tags li{
    width:15%; 
    font-size: 1vh;
    color: var(--tags);
    font-family: var(--text);
    align-self: center;
    }

}