:root{

  /*-- colors --*/
    --background: #1a1b1d;
    --text-color: #fff;
    --section-c:#ba2e2f;
    --section-d:#5d5d5d;
    --btn:#ddb217;
    --circles:rgba(103,112,127,.6);
    --navMouseOver: #4b4b4b;
  
  
  /*-- Fonts --*/
    --font:fantasy;
  
  }
  
  
  /*--Core Styles--*/
  
  body, ul, li, a{
      margin:0 auto;
      padding:0;
      font-family: Arial, Helvetica, sans-serif;
      background: var(--background);
      color:#fff;
      font-size: 1.em;
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      letter-spacing: .1em;
      
  
  }
  
  
  h1, h2, h3, h4, a{
      color: var(--text-color);
      margin:0;
      padding:0;
  }
  
  p{
      margin:0;
      padding: 1em 0;
  }
  
  .btn{
      background:var(--btn);
      display: block;
      color:black;
      padding: .5em 1em;
      margin: .1em 0;
      text-align: center;
  }
  
  .btn:hover{
   background:darkred;
  
  }
  
  a:hover{
    color: White !important;
  }

  
/*-- Showcase Start--*/

@media screen and (max-width: 750px){ 

#showcase {
    position: absolute;
    width:100%;
    height: 35%;
    overflow: hidden;


}


#showcase .bg-image{
    display:none;

}


#showcase .s-bg-image{
    width:100%;
    height:100%;
    margin: auto;

}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}



#showcase .logo{
    position: absolute;
    width:30%;
    max-width: 100px;
    left:6%;
    top:5%;
    max-height: 100%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 240%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}

#showcase p{
  position: absolute;
  font-family: sans-serif;
  font-size: 110%;
  bottom:0%;
  width:100%;
  background: rgba(93, 93, 93, 0.3);
  overflow-x: hidden;
}


/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/

#section-a{
    position:fixed;
    height:20%;
    width:15%;
    right:1%;
    overflow:hidden;
    opacity: 0.7;
    z-index: 1

}

#section-a ul{
  width:100%;
  height: 100%;
  background:none;
  display: flex;
  flex-direction: column;
  
}

#section-a li{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;



}

#section-a a{
width:100%;
height: 100;
font-family: var(--font);
background:var(--section-d);
border-radius: 5px;
border: 2px solid var(--section-c);
border-top: 8px solid var(--section-c);
font-size: .85em;

}

#section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;

}
/*-- Section-a Finish--*/


/*-- Section-b Start--*/
#section-b {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 47%;
  overflow: hidden;

  }

  

  #section-b img{ 
    width: 84vh;
    border: 5px solid var(--background);
   
   
   }
 

  #section-b .car1{
    position: relative;
    display:flex;
    animation: slide 15s 2s infinite;

}


 #section-b .car1:hover{
 animation: slide ;

}

#section-b .car2{
  position: relative;
  display:flex;
  animation: slide 15s 2s infinite;

}

#section-b .s-car2:hover{
  animation: slide ;
 
 }

 
 
@keyframes slide {
  0%{
    left:0%;
  }
  25% {
    left: -185%;
  }

  50% {
    left: -340%;
  }

  75% {
    left: -480%;
  }
  
}


#section-b-footer{
  position: absolute;
  top:83%;
  width: 100%;
  height: 17%;
  margin: auto;
  background:var(--background);

}

#section-b-footer .choose{
  position: relative;
  width: 100%;
  height: 94%;
  margin: auto;
  background: var(--section-d);
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
  
  
  
 }


#section-b-footer .choose img{

  width: 18.9%;
  height: 30%;
  margin: 0% 0% 0% 0.45%;
  border:1px solid red;
  
 }


/*-- Section-b Finish--*/

 /*-- Section-c Start--*/
  /*-- Section-c Start--*/
  #section-c{
    position: absolute;
    top:102%;
    width:100%;
    height:10%;
    background:var(--section-c);
    display:flex;
    justify-content: center;
    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
position: absolute;
width: 100%;
top:113.8%;
height:60%;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
background:var(--section-d);
overflow: hidden;
}


#section-d ul, li, a {
  background-color: inherit;
  font-size: 80%;
  text-transform: uppercase;
  
}

#section-d .reds, .services, .location, .contacts, .media{
  position: relative;
  width:30%;
  height: 37%;
  top:5%;
}

 #section-d .contacts{
   position: relative;
   width:40%;
   height: 35%;
   left: 25%;

}


#section-d .box{

  width: 15%;
  height: 15%;
 

}

 
#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}



/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    width: 100%;
    height: 25%;
    top:177%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: var(--background);

}


#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 50%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}

}
/*-- Footer end--*/
/*-- Footer end--*/

/* media */

@media screen and (min-width: 768px){
 
  #showcase {
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;


}


#showcase .bg-image{
    width:100%;
    height:100%;

}


#showcase .s-bg-image{
   display:none;
}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}



#showcase .logo{
    position: absolute;
    width:30%;
    max-width: 100px;
    left:6%;
    top:5%;
    max-height: 100%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 550%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}


/*-- Showcase End--*/


/*-- Section-a Start--*/



#section-a{
  position: absolute;
  top: 102%;
  height:11%;
  width:100%;
  overflow:hidden;
  background: var(--background);


}


#section-a ul{
  position: relative;
  width:98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#section-a li{
  position: relative;
  width:50%;
  height:100%;
  display: flex;
  



}

#section-a a{
position: relative;
width:90%;
height: 45%;
margin-left:3%;
font-family: var(--font);
background:var(--section-d);
border-radius: 5px;
border: 2px solid var(--section-c);
border-top: 8px solid var(--section-c);
font-size: 2em;


}

#section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;

}



/*-- Section-a Finish--*/


/*-- Section-b Start--*/


 #section-b {
  position: absolute;
  top: 110%;;
  width: 100%;
  height: 75%;
  overflow: hidden;
  display:block;
  }


  #section-b img{ 
    width: 97.7vw;
    height: 75vh;
    border: 5px solid var(--background);
  

  }
 

  #section-b .car1{
    position: relative;
    display:flex;
    animation: slide 15s 1s infinite;
   
     
}


#section-b .car2{
  position: relative;
  display:flex;
  animation: slide 15s 1s infinite;
  

 }

 
 
@keyframes slide {
  0%{
    left:0%;
  }
  25% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  75% {
    left: -300%;
  }
  
}


/*-- Section-b footer Start--*/


#section-b-footer{
  position: absolute;
  top:184%;
  width: 100%;
  height: 16%;
  
  background:var(--background);

}

#section-b-footer .choose{
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--section-d);
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
   
 }


#section-b-footer .choose img{
  width: 9%;
  height: 45%;
  margin: 0% 0.1% 0% 0.65%;
  border: 1px solid red;
 }


/*-- Section-b Finish--*/

/*-- Section-c Start--*/

#section-c{
  position: absolute;
  width:100%;
  top:201%;
  height:16%;
  background:var(--section-c);
  display:flex;
  justify-content: center;

  overflow: hidden;
}


#section-c .s-brand{
  position: relative;
  height: 50%;
  align-self: center;
  animation: moving-banner 29s linear infinite;

}

#section-c .brand{
 display: none;

}


@keyframes moving-banner {

0%{
  left: -104%;
}
100%{
  left: 100%;
}

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
  position: absolute;
  width: 100%;
  top:218%;
  height:60%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background:var(--section-d);
  overflow: hidden;
}



#section-d ul, li, a {
background-color: inherit;
font-size: 80%;
text-transform: uppercase;

}

#section-d .reds, .services, .location, .contacts, .media{
position: relative;
width:30%;
height: 37%;
top:5%;
}

#section-d .contacts{
 position: relative;
 top:35%;



}


#section-d .reds a{
 font-size: 2vh;
 color: darkred;
 

}

#section-d .media{
position: absolute;
top:72%;
right:14%;
width: 27%;
height: 15%;
display:flex;
justify-content: flex-end;
align-items: space-between;


}


#section-d .box{

width: 10%;
height: 20%;


}


/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
  position: absolute;
  top:278%;
  width: 100%;
  height: 35%;
  font-family: sans-serif;
  font-size: 75%;
  color: #252425;
  font-family: var(--text);
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background: var(--background);

}


#main-footer ul{
position: relative;
top:5%;

}

#main-footer .tags{
  position: relative;
  background:#252425;
  font-family: var(--text);
  font-size: 85%;
  width:100%;
  height: 9%;
  top:5%;
  padding:5%;
  color:#616162;
  align-self: flex-start;

}
/*-- Footer end--*/



}