:root{

  /*-- core --*/
    --background: #1a1b1d;
    --textColor: rgb(255, 255, 255);
    --alinkHover:rgb(255, 255, 255);
    --btnBackground:#ddb217;
    --btnHover:rgb(139, 0, 0);
    --btnTextColor:rgb(0, 0, 0);
    --circles:rgba(103,112,127,.6);

    /* section- a */
    --navbarBorder:rgb(186, 46, 47, 1);
    --navbarBackground:rgb(93, 93, 93, .5);

     /* section- b */
     --section-b:#202020;
     --imgBorder:rgb(255, 0, 0);
     
     /* section-b-footer */
     --section-b-footer:#5d5d5d;

    /* section- c */
    --section-c:#ba2e2f;

    /* section- d */
    --section-d:#5d5d5d;
    --navMouseOver: #4b4b4b;

    /* footer */
    --section-footer:#5d5d5d;
    --tags:#616162;
    --tagsBackground:#252425;
    --linkColor: #8b0000;
    --infoTextColor:#252425;
  
  /*-- Fonts --*/
    --font:fantasy;
  
  }
  
  
  /*--Core Styles--*/
  
  body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:var(--textColor);
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: .05em;
    

}


h1, h2, h3, h4, a{
    color: var(--textColor);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btnBackground);
    display: block;
    color: var(--btnTextColor);
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background: var(--btnHover);

}

a:hover{
  color: var(--a-linkHover) !important;
}

  
/*-- Showcase Start--*/

@media screen and (max-width: 750px){ 


  #showcase {
    position: absolute;
    width:100%;
    height: 35%;
    overflow: hidden;


}


#showcase .bg-image{
    display:none;

}


#showcase .s-bg-image{
    width:100%;
    height:100%;
    margin: auto;

}


#showcase .logo{
    position: absolute;
    width:24%;
    height: 5vh;
    left:6%;
    top:5%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 5vh;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}


/*-- Showcase End--*/



/*-- Section-a Start--*/

#section-a{
  position:fixed;
  height:30vh;
  width:19vw;
  right:2%;
  overflow:hidden;
  z-index: 1

}

#section-a ul{
width:100%;
height: 100%;
background:none;
display: flex;
flex-direction: column;

}

#section-a li{
width:100%;
height:100%;
display: flex;
align-items: center;



}

#section-a a{
width:92%;
height: 54%;
font-family: var(--font);
background:var(--navbarBackground);
border-radius: 5px;
border: 2px solid var(--navbarBorder);
border-top: 8px solid var(--navbarBorder);
font-size: 2vh;
}


/*-- Section-a Finish--*/


/*-- Section-b Start--*/
#section-b {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 47%;
  overflow: hidden;

  }

  #section-b .container{
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    }
  

  #section-b img{ 
    width: 84vh;
    border: 5px solid var(--background);
   
   
   }
 

  #section-b .car1{
    position: relative;
    display:flex;
    animation: slide 15s 2s infinite;

}


 #section-b .car1:hover{
 animation: slide ;

}

#section-b .car2{
  position: relative;
  display:flex;
  animation: slide 15s 2s infinite;

}

#section-b .s-car2:hover{
  animation: slide ;
 
 }

 
 
@keyframes slide {
  0%{
    left:0%;
  }
  25% {
    left: -185%;
  }

  50% {
    left: -340%;
  }

  75% {
    left: -480%;
  }
  
}


#section-b-footer{
  position: absolute;
  top:83%;
  width: 100%;
  height: 17%;
  background:var(--background);

}

#section-b-footer .choose{
  width: 100%;
  height: 94%;
  background: var(--section-b-footer);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  
  
  
 }


#section-b-footer .choose img{
  align-self: center;
  width: 15%;
  height: 35%;
  border:1px var(--imgBorder);
  
 }


/*-- Section-b Finish--*/

 /*-- Section-c Start--*/

  #section-c{
    position: absolute;
    top:102%;
    width:100%;
    height:10%;
    background:var(--section-c);
    display:flex;
    justify-content: center;
    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


 /* footer start */
    

 #section-footer{
  position: absolute;
  width: 100%;
  top:112%;
  height:75%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
width:100%;
height: 75%;
margin-right:1%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: flex-end;

}

#section-footer .reds a{
  color: var(--linkColor);
  
 
 }
 
 

#section-footer ul, li, a {
background-color: inherit;


}

#section-footer .reds, .services, .location, .contacts{
  width:29%;
  height: 40%;
  margin-right: 2%;
font-family: var(--font);



}

#section-footer .reds, .services, .location, .contacts{
  font-size: 2vh;
  
}

#section-footer .reds, .services, .location,  li{
  text-align: left;
  
}



#section-footer .contacts p{
 padding:7%;
 
}



#section-footer .info .box{
width: 25%;
height: 20%;
}


/*-- tags--*/

.info-bottom{
  width: 100%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1.6vh;
  color: var(--infoTextColor#252425);
  font-family: var(--text);
  background: var(--background);
  display:flex;
  flex-direction: column;

  }
  
  .info-bottom .rights{
    width:100%;
    height: 35%;

  }
  
  .rights ul {
    width:80%;
    height: 7vh;

  
  }
  

  
  .rights li {
    text-align: center;
}
  
  
  
  .info-bottom .tags{
    background:var( --tagsBackground);
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .info-bottom .tags li{
  width:20%;
  height: 25%; 
  font-size: 1.4vh;
  color: var(--tags);
  font-family: var(--text);
  }
/*-- Footer end--*/ 

}


/* media */

@media screen and (min-width: 768px){
 
  #showcase {
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;


}


#showcase .bg-image{
    width:100%;
    height:100%;

}


#showcase .s-bg-image{
   display:none;
}


#showcase .logo{
    position: absolute;
    width:10%;
    left:6%;
    top:5%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 550%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}


/*-- Showcase End--*/


/*-- Section-a Start--*/



#section-a{
  position: absolute;
  top: 102%;
  height:11%;
  width:100%;
  overflow:hidden;
  background: var(--background);


}


#section-a ul{
  position: relative;
  width:98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#section-a li{
  position: relative;
  width:50%;
  height:100%;
  display: flex;
  



}

#section-a a{
position: relative;
width:90%;
height: 45%;
margin-left:3%;
font-family: var(--font);
background:var(--section-d);
border-radius: 5px;
border: 2px solid var(--section-c);
border-top: 8px solid var(--section-c);
font-size: 2em;


}

#section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;

}



/*-- Section-a Finish--*/


/*-- Section-b Start--*/


 #section-b {
  position: absolute;
  top: 110%;;
  width: 100%;
  height: 75%;
  overflow: hidden;
  display:block;
  }

  
 #section-b .container{
  width: 100%;
  height: 100%;
  overflow: hidden;

  }

  #section-b img{ 
    width: 97.7vw;
    height: 74vh;
    border: 5px solid var(--background);  

  }
 

  #section-b .car1{
    position: relative;
    display:flex;
    animation: slide 15s 1s infinite;
   
     
}


#section-b .car2{
  position: relative;
  display:flex;
  animation: slide 15s 1s infinite;
  

 }

 
 
@keyframes slide {
  0%{
    left:0%;
  }
  25% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  75% {
    left: -300%;
  }
  
}


/*-- Section-b footer Start--*/


#section-b-footer{
  position: absolute;
  top:186%;
  width: 100%;
  height: 16%;
  background:var(--background);

}

#section-b-footer .choose{
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--section-b-footer);
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
   
 }


#section-b-footer .choose img{
  width: 9%;
  height: 40%;
  margin: 0% 0.1% 0% 0.65%;
  border: 1px var(--imgBorder);
  cursor: pointer;
 }

 #section-b-footer .choose img:hover{
   opacity: 0.7;
 }

/*-- Section-b Finish--*/

/*-- Section-c Start--*/

#section-c{
  position: absolute;
  width:100%;
  top:203%;
  height:16%;
  background:var(--section-c);
  display:flex;
  justify-content: center;

  overflow: hidden;
}


#section-c .s-brand{
  position: relative;
  height: 50%;
  align-self: center;
  animation: moving-banner 29s linear infinite;

}

#section-c .brand{
 display: none;

}


@keyframes moving-banner {

0%{
  left: -104%;
}
100%{
  left: 100%;
}

}
/*-- Section-c End--*/


/* footer start */
    

#section-footer{
  position: absolute;
  width: 100%;
  top:219%;
  height:75%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
width:100%;
height: 75%;
margin-right:1%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: flex-end;

}

#section-footer .reds a{
  color: var(--linkColor);
  
 
 }
 
 

#section-footer ul, li, a {
background-color: inherit;


}

#section-footer .reds, .services, .location, .contacts{
  width:29%;
  height: 40%;
  margin-right: 2%;
font-family: var(--font);



}

#section-footer .reds, .services, .location, .contacts{
  font-size: 2vh;
  
}

#section-footer .reds, .services, .location,  li{
  text-align: left;
  
}



#section-footer .contacts p{
 padding:7%;
 
}



#section-footer .info .box{
width: 15%;
height: 20%;

}




/*-- tags--*/

.info-bottom{
width: 100%;
height: 30%;
font-family: sans-serif;
font-size: 1.6vh;
color: var(--infoTextColor#252425);
font-family: var(--text);
background: var(--background);
display:flex;
flex-direction: column;

}

.info-bottom .rights{
  width:100%;
  height: 35%;

}

.rights ul {
  width:80%;
  height: 7vh;


}



.rights li {
  text-align: center;
}



.info-bottom .tags{
  background:var( --tagsBackground);
  width:100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.info-bottom .tags li{
width:18%;
height: 25%; 
font-size: 1.4vh;
color: var(--tags);
font-family: var(--text)
}

/*-- Footer end--*/ 

}