:root{

/*-- colors --*/
  --background: #1a1b1d;
  --text-color: #fff;
  --section-c:#ba2e2f;
  --section-d:#5d5d5d;
  --btn:#ddb217;
  --circles:rgba(103,112,127,.6);


/*-- Fonts --*/
  --font:fantasy;

}


/*--Core Styles--*/

body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:#fff;
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    

}


h1, h2, h3, h4, a{
    color: var(--text-color);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btn);
    display: block;
    color:black;
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background:darkred;

}

a:hover{
  color: White !important;
}

/*-- Showcase Start--*/

#showcase{
    max-width: 450px;



}


#showcase .container{
    position: absolute;
    width:100%;
    height: 35%;
    overflow: hidden;


}


#showcase .bg-image{
    display:none;

}


#showcase .s-bg-image{
    width:100%;
    height:100%;
    margin: auto;

}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}



#showcase .logo{
    position: absolute;
    width:30%;
    max-width: 100px;
    left:6%;
    top:5%;
    max-height: 100%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 240%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}

#showcase p{
  position: absolute;
  font-family: sans-serif;
  font-size: 110%;
  bottom:0%;
  width:100%;
  background: rgba(93, 93, 93, 0.3);
  overflow-x: hidden;
}


/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/

#section-a{
    position:fixed;
    height:31%;
    width:28%;
    top:0%;
    right:1%;
    overflow:hidden;
    opacity: 0.7;
    z-index: 1

}

.nav-container{
    width:100%;
    height: 100%;

 }

.nav-container ul{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background:none;

}

.nav-container li{
    width: 50%;
    height: 5%;
}
.nav-container a{
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 100%;
}

#section-a a:hover{
    background-color:red;
    border-radius: 5px;

}

.nav-container .home{
  padding: 7.5% 34%;
}

.nav-container .about{
  padding: 7.5% 28%;
}

.nav-container .video{
  padding: 7.5% 25%;
}

.nav-container .contact{
  padding: 7.5% 16%;
}

/*-- Section-a Finish--*/


/*-- Section-b Start--*/
#section-b {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 47%;
  overflow: hidden;

  }

  #section-ba {
    position: absolute;
    top: 110%;;
    width: 100%;
    height: 75%;
    overflow: hidden;
    display:none;

    }

  #section-b img{ 
    width: 84vh;
    border: 5px solid var(--background);
   
   
   }
 

  #section-b .s-car1{
    position: relative;
    display:flex;
    animation: s-slide 15s 2s infinite;
  
}


 #section-b .s-car1:hover{
 animation: s-slide ;

}

#section-b .s-car2{
  position: relative;
  display:flex;
  animation: s-slide 15s 2s infinite;

}

#section-b .s-car2:hover{
  animation: s-slide ;
 
 }

 
 
@keyframes s-slide {
  0%{
    left:0%;
  }
  25% {
    left: -185%;
  }

  50% {
    left: -340%;
  }

  75% {
    left: -480%;
  }
  
}


#section-b-footer{
  position: absolute;
  top:83%;
  width: 100%;
  height: 17%;
  margin: auto;
  background:var(--background);

}

#section-b-footer .choose{
  position: relative;
  width: 100%;
  height: 94%;
  margin: auto;
  background: var(--section-d);
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
  
  
  
 }


#section-b-footer .choose img{

  width: 18.9%;
  height: 30%;
  margin: 0% 0% 0% 0.45%;
  border:1px solid red;
  
 }


/*-- Section-b Finish--*/

/*-- Section-c Start--*/
#section-c{
    position: absolute;
    top:100%;
    width:100%;
    height:16%;
    background:var(--section-c);
    overflow: hidden;
}

#section-c .container{
    position: absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;

}
#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
    position: absolute;
    width: 100%;
    top:117%;
    height:60%;

    background:var(--section-d);
    overflow: hidden;
}


#section-d .container{
  position: relative;
    top:5%;
    width:90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    justify-content: space-around;

}


#section-d ul, li, a {
  background-color: inherit;
  font-size: 90%;
  text-transform: uppercase;
}

#section-d .contact{
  position: relative;
  width:35%;
  left:40%;
  height: 10%;
  
}

#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}
#section-d .media{
  position: inherit;
  top: 10%;
  width:70%;
  height: 25%;

}

#section-d .box{
  position: inherit;
  left: 55%;
  width: 15%;
  height: 40%;

}

/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    width: 100%;
    height: 25%;
    top:177%;
    background: var(--background);

}


#main-footer .container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;



}

#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 50%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}
/*-- Footer end--*/


/*--Media--*/


@media screen and (min-width: 768px){
 
  #showcase .container{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;


}


#showcase .bg-image{
    width:100%;
    height:100%;
    display:block;

}


#showcase .s-bg-image{
   display:none;
}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}



#showcase .logo{
    position: absolute;
    width:30%;
    max-width: 100px;
    left:6%;
    top:5%;
    max-height: 100%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 240%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}


/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/


#section-a{
  position:fixed;
  height:31%;
  width:28%;
  top:0%;
  right:1%;
  overflow:hidden;
  opacity: 0.7;
  z-index: 1;
  display: none;
}

#section-ab{
  position: absolute;
  height:10%;
  width:100%;
  top:100%;
  background:green;
  overflow: hidden;

}

#section-ab .nav-container{
  position: relative;
  width:100%;
  height: 100%;
  margin: auto;
  background:var(--background);
  
 

}

#section-ab  ul{
  position: relative;
  width: 99%;
  height: 95%;
  display: flex;
  flex-direction: row;
  
 
 
  
  

}

#section-ab  li{
  position: relative;
  width: 24%;
  height: 100%;
  top: 5.5%;
  display: flex;
  align-content: center;
  
}

#section-ab a{
font-family: var(--font);
background:var(--section-d);
border-radius: 5px;
border: 2px solid var(--section-c);
border-top: 8px solid var(--section-c);

}

#section-ab a:hover{
  background-color:red;
  border-radius: 5px;

}

#section-ab .nav-container .home{
 width:100%;
}

#section-ab .nav-container .about{
  width:100%;
}

#section-ab .nav-container .video{
  width:100%;
}

#section-ab .contact{
  width:100%;
}




/*-- Section-a Finish--*/


/*-- Section-b Start--*/
#section-b {
  position: absolute;
  top: 110%;;
  width: 100%;
  height: 75%;
  overflow: hidden;
  display:none

 }

 #section-ba {
  position: absolute;
  top: 110%;;
  width: 100%;
  height: 75%;
  overflow: hidden;
  display:block;
  }

  #section-ba container{
   position: inherit;

    }
  



  #section-ba img{ 
    width: 97.7vw;
    height: 75vh;
    border: 5px solid var(--background);
  

   }
 

  #section-ba .car1{
    position: relative;
    display:flex;
    animation: slide 15s 1s infinite;
   
  
   
   
   
}


#section-ba .car2{
  position: relative;
  display:flex;
  animation: slide 15s 1s infinite;
  



 }

 
 
@keyframes slide {
  0%{
    left:0%;
  }
  25% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  75% {
    left: -300%;
  }
  
}





#section-b-footer{
  position: absolute;
  top:184%;
  width: 100%;
  height: 16%;
  
  background:var(--background);

}

#section-b-footer .choose{
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--section-d);
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
   
 }


#section-b-footer .choose img{
  width: 9%;
  height: 45%;
  margin: 0% 0.1% 0% 0.65%;
  border: 1px solid red;
 }


/*-- Section-b Finish--*/

/*-- Section-c Start--*/
#section-c{
    position: absolute;
    width:100%;
    top:201%;
    height:16%;
    background:var(--section-c);
    overflow: hidden;
}

#section-c .container{
    position: absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;

}
#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
    position: absolute;
    width: 100%;
    top:217%;
    height:60%;

    background:var(--section-d);
    overflow: hidden;
}


#section-d .container{
  position: relative;
    top:5%;
    width:99%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    justify-content: space-around;

}


#section-d ul, li, a {
  background-color: inherit;
  font-size: 80%;
  text-transform: uppercase;
}

#section-d .contact{
 position: inherit;
 top:40%;
 left:12%;
}

#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}
#section-d .media{
  position: inherit;
  top: 20%;
  width:70%;
  height: 25%;

}

#section-d .box{
  position: inherit;
  left: 55%;
  width: 4%;
  height: 30%;

}


/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    top:277%;
    width: 100%;
    height: 45%;
    background: var(--background);

}


#main-footer .container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

}

#main-footer ul{
  position: relative;
  top:5%;

}

#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 10%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}
/*-- Footer end--*/


  
}