/*--variables--*/
:root{

/*-- colors --*/
  --background: #1a1b1d;
  --text-color: #fff;
  --section-c:#ba2e2f;
  --section-d:#5d5d5d;
  --btn:#ddb217;
  --circles:rgba(103,112,127,.6);


/*-- Fonts --*/
  --font:fantasy;

}


/*--Core Styles--*/

body, ul, li, a{
    margin:0 auto;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color:#fff;
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
    list-style-type: none;

}


h1, h2, h3, h4, a{
    color: var(--text-color);
    margin:0;
    padding:0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    background:var(--btn);
    display: block;
    color:black;
    padding: .5em 1em;
    margin: .1em 0;
    text-align: center;
}

.btn:hover{
 background:darkred;

}


/*-- Showcase Start--*/

#showcase{
    max-width: 450px;


}


#showcase .container{
    position: absolute;
    width:100%;
    height: 80%;
    overflow: hidden;


}


#showcase .bg-image{
    display:none;

}


#showcase .s-bg-image{
    width:100%;
    height:100%;
    margin: auto;

}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}


@keyframes zoom{
    0%{
        transform: scale(1);
    }
     100%{
        transform: scale(1.5);
    }
}


#showcase .logo{
    position: absolute;
    width:30%;
    max-width: 100px;
    left:6%;
    top:5%;
    max-height: 100%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 240%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}

#showcase p{
  position: absolute;
  font-family: sans-serif;
  font-size: 110%;
  top:50%;
  left:25%;
  width:49%;

}


#showcase .btn{
    position: absolute;
    text-align: center;
    width:20%;
    top:64%;
    left:40%;
    font-size: 59%;
    padding: 2% 0%;


}



/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/

#section-a{
    position: absolute;
    height:21%;
    width:100%;
    top:80%;

}

.nav-container{
    width:70%;
    height: 100%;
    margin: auto;

 }

.nav-container ul{
    height: 90%;
    margin: 0% 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.nav-container li{
    width: 50%;
    height: 5%;
}
.nav-container a{
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 120%;
}

#section-a a:hover{
    background-color:red;
    border-radius: 5px;

}

.nav-container .about{
  padding: 10% 20%;
}

.nav-container .gallery{
  padding: 10% 15%;
}

.nav-container .video{
  padding: 10% 18%;
}

.nav-container .contact{
  padding: 10% 12%;
}





/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 101%;
    height:101%;
    overflow:hidden;


}


#section-b .container{
    position: absolute;
    width:100%;
    height: 97%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/s-bg-grey.jpg) center no-repeat;
    background-size: cover;
    height:100%;
    width:100%;

}

#section-b .s-cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    animation: moving-clouds 20s linear infinite;



}

#section-b .s-cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    animation: moving-clouds 15s linear infinite;


}


#section-b .s-car1{
    position: absolute;
    width: 55%;
    top:72%;
    right:-50%;
    animation: moving-car1 15s  linear infinite;


}

#section-b .s-car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:-55%;
    animation: moving-car2 15s  linear infinite;

 }


#section-b .cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    display: none;


}

#section-b .cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    display: none;


}


#section-b .car1{
    position: absolute;
    width: 50%;
    top:72%;
    right:2%;
    display: none;


}

#section-b .car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:45%;
    display: none;

 }

#section-b .container2{
 width: 90%;
 height:80%;
 margin: auto;
 display: flex;
 flex-wrap: flex;
 flex-direction: column;
 justify-content: center;

}

#section-b  .btn{
width: 20%;
align-self: center;
}

#section-b h1{
    font-family: var(--font);
    font-size: 330%;
    color:black;
    text-transform: uppercase;
    align-self: flex-start;

}

#section-b p{
    width:70%;
    color: black;
    text-align:justify;
}

@keyframes moving-clouds {
from{
  right: -110%;
}
to{
  right: 100%;
}
}


@keyframes moving-car1 {
  0% {
    transform:scale(.3);
     right:-66%  ;
  }
  50%{
    right:50%;

  }


}

@keyframes moving-car2 {
  0% {
    transform:scale(.3);
     right:-50%  ;
  }
  50%{
    right:40%;

  }


}

/*-- Section-b End--*/

/*-- Section-c Start--*/
#section-c{
    position: absolute;
    width:100%;
    top:202%;
    height:16%;
    background:var(--section-c);
    overflow: hidden;
}

#section-c .container{
    position: absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;

}
#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
    position: absolute;
    width: 100%;
    top:218%;
    height:60%;

    background:var(--section-d);
    overflow: hidden;
}


#section-d .container{
    width:80%;
    height: 90%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    justify-content: space-between;

}


#section-d ul, li, a {
  background-color: inherit;
  font-size: 90%;
  text-transform: uppercase;
}

#section-d .contact{
  position: relative;
  width:35%;
  left:60%;
  height: 40%;
  display: flex;
  flex-flow:wrap;
  justify-content:flex-start;
  justify-content: space-between;







}
#section-d .box{
  height: 25%;

}


/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    width: 100%;
    height: 30%;
    top:278%;
    background: var(--background);

}


#main-footer .container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 75%;
    color: #bababa;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;



}

#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 50%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}
/*-- Footer end--*/


/*--Media--*/


@media(min-width:568px){


#showcase .container{
    position: absolute;
    width:100%;
    height: 100%



}


#showcase .s-bg-image{
  display:none;


}


#showcase .bg-image{
   position: absolute;
    width:100%;
    height: 100%;
    display: block;
}



#showcase .logo{
    width:23vw;
    max-width:125px;


}
#showcase h1{
  font-size: 11vh;
  width:75%;
  top:25%;
  left:13%;


}

#showcase p{
  font-size: 130%;
  top:53%;
  left:26%;
  width:50%;



}

#showcase ul li a{
    position: absolute;
    display: inline-block;




}


#showcase .maindot{
    position: absolute;
    top:90%;
    left:44%;
    padding:2px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}


#showcase .dot2{
    position: absolute;
    top:90%;
    left:48%;
    padding:2px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}

#showcase .dot3{
    position: absolute;
    top:90%;
    left:53%;
    padding:2px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}

#showcase .dot4{
    position: absolute;
    top:90%;
    left:57%;
    padding:2px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}
#showcase .btn{
    width:14%;
    top:65%;
    left:42%;
    font-family: sans-serif;
    font-size: 120%;

}



.downarrow:after{
    width:20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    left:0;

    bottom: -35%;
    border-left:4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform:rotate(314deg);
    -webkit-animation: 4s arrow infinite ease;
    animation: 4s arrow infinite ease;

}


@-webkit-keyframes arrow{
    0%, 100%{
        top:35%;
    }

    50%{
        top:100px;
    }
}

/*-- Showcase End--*/


/*-- Main Area Start--*/

/*-- Section-a Start--*/
#section-a{
    position: absolute;
    height:12%;
    width:100%;
    font-family: var(--font);
    font-size: 110%;
    text-transform: uppercase;
    top:100%;

}

#section-a .container{
    position: relative;
    width:98%;
    height: 85%;
    left:2%;
    right:1%;
    top:7%;
    overflow: hidden;

}


#section-a ul{
     position:absolute;
        width:100%;
        top:3%;
    }

a:active{
    background-color:red;
    }

.about{
    position: relative;
    display:inline-block;
    padding: 1.2%;
    width:20%;
    left:1%;
    background:var(--section-d);



}

.gallery{
    position: relative;
    display:inline-block;
    padding: 1.2%;
    float: left;
    width:20%;
    left:3%;


}


.video{
    position: relative;
    display:inline-block;
    padding: 1.2%;
    float: left;
    width:20%;
    left: 5%;
    top: 0%;
     background:var(--section-d)
}


.contact{
    position: relative;
    display:inline-block;
    padding: 1.2%;
    float: left;
    width:20%;
    left: 6.5%;
    top: 0%;
     background:var(--section-d)

}


/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 111.6%;
    height:90%;


}


#section-b .container{
    position: absolute;
    width:100%;
    height: 97%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;


    }

#section-b .cloud1{
    position: absolute;
    width:100%;
    height:60%;
    right:0%;
    display:inline;
    animation: moving-clouds 50s linear infinite;



}

#section-b .cloud2{
    position: absolute;
    width:60%;
    height: 45%;
    right:44%;
    display:inline;
    animation: moving-clouds 40s linear infinite;


}


#section-b .car1{
    position: absolute;
    width: 25%;
    top:65%;
    right:2%;
    animation: moving-cars 12s  linear infinite;
    display: inline;



}

#section-b .car2{
    position: absolute;
    width: 20%;
    top:64%;
    right:23%;
    animation: moving-cars 12s  linear infinite;
    display:inline;


 }


#section-b .s-cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    display: none;



}

#section-b .s-cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    display: none;


}


#section-b .s-car1{
    position: absolute;
    width: 50%;
    top:72%;
    right:2%;
    display: none;


}

#section-b .s-car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:45%;
    display: none;


 }

#section-b .container2{
    position: absolute;
    width:350px;
    height:420px;
    top:13%;
    left:12%;



    }

#section-b  .btn{
    position: absolute;
    display: inline-block;
    width:22%;
    left: 30%;
    top: 85%;
    padding:1% 1%
}

#section-b h1{
    position: absolute;
    display: inline-block;
    top: 10%;
    font-family: var(--font);
    font-size: 340%;
    color:black;
    text-transform: uppercase;

}

#section-b p{
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 11%;
    width:60%;
    color: black;
    text-align:justify;
    font-size: 100%;
}



/*-- Section-b End--*/

/*-- Section-c Start--*/



#section-c{
    position: absolute;
    width:100%;
    top:201%;
    height:20%;
    background:var(--section-c);
}

#section-c .container{
    position: absolute;
    width:100%;
    hight:100%;

}

#section-c .s-brand{
display: none;

}


#section-c .brand{
    position: absolute;
    width:80%;
    left:9.5%;
    top:1%;
display: inline;
animation: moving-banner 29s linear infinite;

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
    position: absolute;
    width: 100%;
    top:221%;
    height:50%;
    background:var(--section-d);
}


#section-d .container{
    position: absolute;
    width: 100%;
    height: 100%;
}
#section-d .reds{
    position: absolute;
    display: inline-block;
    left:10%;
    top:11%;
    width:25%;
    height:40%;

}



#section-d .services{
    position: absolute;
    display: inline-block;
    right:15%;
    top:10%;
    width:25%;
    height:40%;

}

#section-d .location{
   position: absolute;
   display: inline-block;
   left:10%;
   top:57%;
   width:25%;
   height:40%;
}


#section-d .contacts{
   position: absolute;
   display: inline-block;
   right:0.1%;
   top:50%;
   width:55%;
   height:48%;
}

#section-d .facebook{
    position: absolute;
    width:5%;
    top:75%;
    right:31%;
}


#section-d .twitter{
    position: absolute;
    width:5%;
    top:75%;
    right:22%;
}



#section-d .instagram{
    position: absolute;
    width:5%;
    top:75%;
    right:13%;
}
/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    width: 100%;
    height: 32%;
    top:271%;
    background: var(--background);

}


#main-footer .container{
    position: absolute;
    width: 100%;
    height: 67%;


}
#main-footer .rights{
   display:none;




}

#main-footer .right{
    font-family: sans-serif;
    font-size: 75%;
    position: absolute;
    width:100%;
    background:#252425;
    padding: 5% 0 ;
    color: #bababa;


    }
#main-footer .tags{
    display: inline-block;
    position:absolute;
    font-family: var(--text);
    font-size: 60%;
    left:4%;
    top:130%;
    width:90%;
    color:#616162;
}


}


@media(min-width:1440px){



#showcase .maindot{
    position: absolute;
    top:92%;
    left:43%;
    padding:6px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}


#showcase .dot2{
    position: absolute;
    top:92%;
    left:48%;
    padding:6px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}

#showcase .dot3{
    position: absolute;
    top:92%;
    left:53%;
    padding:6px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}

#showcase .dot4{
    position: absolute;
    top:92%;
    left:57%;
    padding:6px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}
#showcase .btn{
    width:10%;
    top:62%;
    left:45%;
    height:4%

}


.downarrow:after{
    content: "";
    width:35px;
    height: 35px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    left:2%;

    bottom: -35%;
    border-left:7px solid #fff;
    border-bottom: 7px solid #fff;
    -webkit-transform:rotate(314deg);
    -webkit-animation: 4s arrow infinite ease;
    animation: 4s arrow infinite ease;

}


@-webkit-keyframes arrow{
    0%, 100%{
        top:30%;
    }

    50%{
        top:80px;
    }
}



    #section-b .container2{
    position: absolute;
    width:500px;
    height:500px;
    top:10%;
    left:9%;



    }

#section-b  .btn{
    position: absolute;
    display: inline-block;
    width:25%;
    left: 25%;
    top: 90%;
    padding:1% 1%
}

#section-b h1{
    position: absolute;
    display: inline-block;
    top: 10%;
    font-family: var(--font);
    font-size: 490%;
    color:black;
    text-transform: uppercase;

}

#section-b p{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 11%;
    width:60%;
    color: black;
    text-align:justify;
    font-size: 120%;
}





}


@media(min-width:2160px){


#showcase .logo{
    width:23vw;
    max-width:200px;


}
#showcase h1{
  font-size: 11vh;
  width:75%;
  top:30%;
  left:13%;



}

#showcase p{
  font-size: 240%;
  top:55%;
  left:26%;
  width:50%;


}



#showcase .maindot{
    position: absolute;
    top:92%;
    left:43%;
    padding:10px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}


#showcase .dot2{
    position: absolute;
    top:92%;
    left:48%;
    padding:10px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}

#showcase .dot3{
    position: absolute;
    top:92%;
    left:53%;
    padding:10px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}

#showcase .dot4{
    position: absolute;
    top:92%;
    left:57%;
    padding:10px;
    border-radius: 50%;
    height:10px;
    width:10px;
    background:var(--circles);

}
#showcase .btn{
    width:10%;
    top:65%;
    left:45%;
    height:4%

}



.downarrow:after{
    content: "";
    width:40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top:0;
    right:0;
    left:2%;

    bottom: -45%;
    border-left:10px solid #fff;
    border-bottom: 10px solid #fff;
    -webkit-transform:rotate(314deg);
    -webkit-animation: 4s arrow infinite ease;
    animation: 4s arrow infinite ease;

}


@-webkit-keyframes arrow{
    0%, 100%{
        top:30%;
    }

    50%{
        top:80px;
    }
}


    #section-b .container2{
    position: absolute;
    width:1000px;
    height:750px;
    top:18%;
    left:9%;



    }

#section-b  .btn{
    position: absolute;
    display: inline-block;
    width:25%;
    left: 20%;
    top: 90%;
    padding:1% 1%
}

#section-b h1{
    position: absolute;
    display: inline-block;
    top: 10%;
    font-family: var(--font);
    font-size: 700%;
    color:black;
    text-transform: uppercase;

}

#section-b p{
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 11%;
    width:45%;
    color: black;
    text-align:justify;
    font-size: 180%;
}


#section-d .reds{
    position: absolute;
    font-family: sans-serif;
    font-size: 175%;
    display: inline-block;
    left:10%;
    top:11%;
    width:25%;
    height:4%;


}

#section-d .services{
    position: absolute;
    font-family: sans-serif;
    font-size: 175%;
    display: inline-block;
    right:15%;
    top:10%;
    width:25%;
    height:40%;

}

#section-d .location{
   position: absolute;
   font-family: sans-serif;
   font-size: 175%;
   display: inline-block;
   left:10%;
   top:57%;
   width:25%;
   height:40%;
}


#section-d .contacts{
   position: absolute;
   font-family: sans-serif;
   font-size: 200%;
   display: inline-block;
   right:0.1%;
   top:50%;
   width:55%;
   height:48%;
}


#main-footer .right{
    font-family: sans-serif;
    font-size: 140%;
    position: absolute;
    width:100%;
    background:#252425;
    padding: 5% 0 ;
    color: #bababa;


    }
#main-footer .tags{
    display: inline-block;
    position:absolute;
    font-family: sans-serif;
    font-size: 120%;
    left:4%;
    top:130%;
    width:90%;
    color:#616162;
}




}


/*-- Footer end--*/



