:root{

    /*-- colors --*/
      --background: #1a1b1d;
      --text-color: #fff;
      --section-c:#ba2e2f;
      --section-d:#5d5d5d;
      --btn:#ddb217;
      --circles:rgba(103,112,127,.6);
      --navMouseOver: #4b4b4b;
        
    /*-- Fonts --*/
      --font:fantasy;
    
    }
    
    
    
    /*--Core Styles--*/
    
    body, ul, li, a{
        margin:0 auto;
        padding:0;
        font-family: Arial, Helvetica, sans-serif;
        background: var(--background);
        color:#fff;
        font-size: 1.em;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        letter-spacing: .1em;
        
    
    }
    
    
    h1, h2, h3, h4, a{
        color: var(--text-color);
        margin:0;
        padding:0;
    }
    
    p{
        margin:0;
        padding: 1em 0;
    }
    
    .btn{
        background:var(--btn);
        display: block;
        color:black;
        padding: .5em 1em;
        margin: .1em 0;
        text-align: center;
    }
    
    .btn:hover{
     background:darkred;
    
    }
    
    a:hover{
      color: White !important;
    }


/*-- Showcase Start--*/

@media screen and (max-width: 750px){ 


#showcase {
    position: absolute;
    top:8%;
    width:100%;
    height: 92%;  
    overflow: hidden; 

}

#showcase .container{
    position: absolute;
    top:3%;
    width:100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   
}


#showcase .bg-image{
    display:none;
 
}


#showcase .s-bg-image{
    width:100%;
    height:100%;


}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}


@keyframes zoom{
    0%{
        transform: scale(1);
    }
     100%{
        transform: scale(1.5);
    }
}


#showcase .logo{
  width:30%;

  

    

}
#showcase h1{
    width:97%;
  font-family: var(--font);
  font-size: 240%;
  margin-top: 1em;
  text-transform: capitalize;
  align-self: center;
  


}

#showcase p{
    width:49%;

  font-family: sans-serif;
  font-size: 110%;
  align-self: center;

}


#showcase .btn{
    width:20%;
    padding: 2% 0%;
    font-size: 59%;
    text-align: center;
    align-self: center;
}

 .down-arrow{
   display:none;
   }



/*-- Showcase End--*/



/*-- Section-a Start--*/


#section-a{
    position: fixed;
    top: 0%;
    height:8%;
    width:100%;
    overflow:hidden;
    background: var(--background);
    z-index: 1;


}


#section-a ul{
    width:95%;
    height: 100%;
    display: flex;
   
    
}

#section-a li{
    width:30%;
    height:100%;
    display: flex;
    align-items: center;




}

 #section-a a{
  width:93%;
  height: 50%;
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 1em;
 


  

}

#section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;

}



/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 101%;
    height:104%;
    overflow:hidden;


}


#section-b .container{
    position: absolute;
    width:100%;
    height: 97%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/s-bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
}

#section-b .s-cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    animation: moving-clouds 20s linear infinite;



}

#section-b .s-cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    animation: moving-clouds 15s linear infinite;


}


#section-b .s-car1{
    position: absolute;
    width: 55%;
    top:72%;
    right:-50%;
    animation: moving-car1 15s  linear infinite;


}

#section-b .s-car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:-55%;
    animation: moving-car2 15s  linear infinite;

 }


#section-b .cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    display: none;


}

#section-b .cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    display: none;


}


#section-b .car1{
    position: absolute;
    width: 50%;
    top:72%;
    right:2%;
    display: none;


}

#section-b .car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:45%;
    display: none;

 }

#section-b .container2{
 width: 90%;
 height:80%;
 margin: auto;
 display: flex;
 flex-wrap: flex;
 flex-direction: column;
 justify-content: center;

}

#section-b  .btn{
width: 20%;
align-self: center;
}

#section-b h1{
    font-family: var(--font);
    font-size: 330%;
    color:black;
    text-transform: uppercase;
    align-self: flex-start;

}

#section-b p{
    width:70%;
    color: black;
    text-align:justify;
}


 .up-arrow{
    display:none;
    
    }

@keyframes moving-clouds {
from{
  right: -110%;
}
to{
  right: 100%;
}
}


@keyframes moving-car1 {
  0% {
    transform:scale(.3);
     right:-66%  ;
  }
  50%{
    right:50%;

  }


}

@keyframes moving-car2 {
  0% {
    transform:scale(.3);
     right:-50%  ;
  }
  50%{
    right:40%;

  }
}




/*-- Section-b End--*/

/*-- Section-c Start--*/


#section-c{
    position: absolute;
    top:205%;
    width:100%;
    height:10%;
    background:var(--section-c);
    display:flex;
    justify-content: center;
    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
position: absolute;
width: 100%;
top:215%;
height:60%;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
background:var(--section-d);
overflow: hidden;
}


#section-d ul, li, a {
  background-color: inherit;
  font-size: 80%;
  text-transform: uppercase;
  
}

#section-d .reds, .services, .location, .contacts, .media{
  position: relative;
  width:30%;
  height: 37%;
  top:5%;
  font-family: var(--font);
  font-size: 1.em;
}

 #section-d .contacts{
   position: relative;
   width:40%;
   height: 35%;
   left: 25%;

}


#section-d .box{

  width: 15%;
  height: 15%;
 

}

 
#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}



/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    width: 100%;
    height: 25%;
    top:275%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: var(--background);

}


#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 50%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}

}

/*-- Footer end--*/



/*--Media--*/



@media screen and (min-width:768px){

    #showcase {
        position: absolute;
        width:100%;
        height: 100%;  
        overflow: hidden; 
    
    }
    
    #showcase .container{
        position: absolute;
        top:5%;
        width:100%;
        height: 100%;
       display: flex;
       flex-direction: column;
      
       
     }
    
    
    #showcase .bg-image{
        width:100%;
        height:100%;
     
    }
    
    
    #showcase .s-bg-image{
         display: none;
    }
    
    
    #showcase .bg-image{
    
        animation: zoom 10s linear forwards;
    
    }
    
    
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
         100%{
            transform: scale(1.5);
        }
    }
    
    
    #showcase .logo{
      width:10%;
      margin-left: 5%;
    
      
    
        
    
    }
    #showcase h1{
        width:97%;
      font-family: var(--font);
      font-size: 550%;
      margin-top: 1em;
      text-transform: capitalize;
      align-self: center;
      
    
    
    }
    
    #showcase p{
        width:49%;
    
      font-family: sans-serif;
      font-size: 200%;
      align-self: center;
    
    }

    #showcase .btn{
        width:10%;
        padding: 1%;
        font-size: 110%;
        margin-top: 1%;
        text-align: center;
        align-self: center;
       
    }

    #showcase .down-arrow{
    position: relative;
     width:3%;
     height: 8%;
     margin-top:0%;
     align-self: center;
     animation: down-arrow 3s infinite ease;
    
    }

    @keyframes down-arrow {

        0%{top:0%;} 
        
        50%{top: 15%;}

        100%{top: 0%;} 
      
      }
   

      #showcase .select{
      position: relative;
      width:15%;
      height: 15%;
      bottom: 10%;
      left:43%;
      background:none;

    }

    #showcase ul{
     height: 50%;
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     background:none;


  
      }

      
    #showcase li{
        border-radius: 50%;
        height:27%;
        width:27px;
        background:var(--circles);
         }
    


/*-- Showcase End--*/



/*-- Section-a Start--*/

#section-a{
    position: absolute;
    top: 101%;
    height:11%;
    width:100%;
    overflow:hidden;
    background: var(--background);
  
  
  }
  
  
  #section-a ul{
    position: relative;
    width:98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }
  
  #section-a li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
  #section-a a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 2em;
  
  
  }
  
  #section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
  
  }
/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 108.6%;
    height:90%;
   overflow: hidden;

}

#section-b .s-cloud1{
    display: none;

}

#section-b .s-cloud2{
    display: none;

}




#section-b .container{
    position: absolute;
    width:100%;
    height: 97%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;


    }

    #section-b .s-car1{
        display: none;
    
    
    }
    
    #section-b .s-car2{
        display: none;
    
    
     }

    
#section-b .cloud1{
    position: absolute;
    width:100%;
    height:60%;
    right:0%;
   animation: moving-clouds 50s linear infinite;

}

#section-b .cloud2{
    position: absolute;
    width:60%;
    height: 45%;
    right:44%;
   animation: moving-clouds 80s linear infinite;

}


#section-b .car1{
    position: absolute;
    width: 25%;
    top:65%;
    right:2%;
    animation: moving-car1  12s  linear infinite;
}

#section-b .car2{
    position: absolute;
    width: 20%;
    top:64%;
    right:23%;
    animation: moving-car2  12s  linear infinite;


 }


 @keyframes moving-clouds {
    from{
      right: -110%;
    }
    to{
      right: 100%;
    }
    }

    @keyframes moving-car1 {
        0% {
          transform:scale(.3);
           right:-66%;
        }
        50%{
          right:25%;
      
        }
        100%{
            right:-50%;
        }
      
      
      }
      
      @keyframes moving-car2 {
        0% {
          transform:scale(.3);
           right:-50%;
        }
        50%{
          right:17%;
      
        }
        100%{
            right:-50%;
        }
      
      
      }
      

#section-b .container2{
    position: absolute;
    width:350px;
    height:420px;
    top:13%;
    left:6%;
    display: flex;
    flex-direction: column;
    align-items: center;



    }

#section-b  .btn{
  width:30%;
  margin-top:4%;

  
}

#section-b h1{
    font-family: var(--font);
    font-size: 370%;
    color:black;
    text-transform: uppercase;

}

#section-b p{
    width:85%;
    color: black;
    font-size: 115%;
    text-align: start;
}


#section-b .up-arrow{
    position: absolute;
     width: 3%;
     height: 8%;
     left:2%;
     bottom: 5%;
     align-self: center;
     animation: up-arrow 3s infinite ease;
    
    }

    @keyframes up-arrow {

        0%{bottom:5%;} 
        
        50%{bottom: 15%;}

        100%{bottom: 5%;} 
      
      }
   


/*-- Section-b End--*/

/*-- Section-c Start--*/

#section-c{
    position: absolute;
    width:100%;
    top:199.5%;
    height:16%;
    background:var(--section-c);
    display:flex;
    justify-content: center;

    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/*-- Section-d Start--*/

#section-d{
    position: absolute;
    width: 100%;
    top:216.5%;
    height:59.5%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background:var(--section-d);
    overflow: hidden;
}



#section-d ul, li, a {
  background-color: inherit;
  font-size: 80%;
  text-transform: uppercase;
  
}

#section-d .reds, .services, .location, .contacts, .media{
  position: relative;
  width:30%;
  height: 37%;
  top:5%;
  font-family: var(--font);
  font-size: 1.em;
}

 #section-d .contacts{
   position: relative;
   top:35%;
  
  

}

 
#section-d .reds a{
   font-size: 2vh;
   color: darkred;
   

}

#section-d .media{
  position: absolute;
  top:72%;
  right:14%;
  width: 27%;
  height: 15%;
  display:flex;
 justify-content: flex-end;
 align-items: space-between;


}


#section-d .box{

  width: 10%;
  height: 20%;
 

}


/*-- Section-d End--*/



/*-- Footer Start--*/
#main-footer{
    position: absolute;
    top:277%;
    width: 100%;
    height: 35%;
    font-family: sans-serif;
    font-size: 75%;
    color: #252425;
    font-family: var(--text);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: var(--background);

}


#main-footer ul{
  position: relative;
  top:5%;

}

#main-footer .tags{
    position: relative;
    background:#252425;
    font-family: var(--text);
    font-size: 85%;
    width:100%;
    height: 10%;
    top:5%;
    padding:5%;
    color:#616162;
    align-self: flex-start;

}
}
/*-- Footer end--*/ 

