:root{

    /*-- core --*/
      --background: #1a1b1d;
      --textColor: rgb(255, 255, 255);
      --alinkHover:rgb(255, 255, 255);
      --btnBackground:#ddb217;
      --btnHover:rgb(139, 0, 0);
      --btnTextColor:rgb(0, 0, 0);
      --circles:rgba(103,112,127,.6);
  
      /* section- a */
      --navbarBorder:rgb(186, 46, 47, 1);
      --navbarBackground:rgb(93, 93, 93, .5);
  
       /* section- b */
       --section-b:#202020;
       --imgBorder:rgb(255, 0, 0);
       
       /* section-b-footer */
       --section-b-footer:#5d5d5d;
  
      /* section- c */
      --section-c:#ba2e2f;
  
      /* section- d */
      --section-d:#5d5d5d;
      --navMouseOver: #4b4b4b;
  
      /* footer */
      --section-footer:#5d5d5d;
      --tags:#616162;
      --tagsBackground:#252425;
      --linkColor: #8b0000;
      --infoTextColor:#252425;
    
    /*-- Fonts --*/
      --font:fantasy;
    
    }
    
    
    /*--Core Styles--*/
    
    body, ul, li, a{
      margin:0 auto;
      padding:0;
      font-family: Arial, Helvetica, sans-serif;
      background: var(--background);
      color:var(--textColor);
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      letter-spacing: .05em;
      
  
  }
  
  
  h1, h2, h3, h4, a{
      color: var(--textColor);
      margin:0;
      padding:0;
  }
  
  p{
      margin:0;
      padding: 1em 0;
  }
  
  .btn{
      background:var(--btnBackground);
      display: block;
      color: var(--btnTextColor);
      padding: .5em 1em;
      margin: .1em 0;
      text-align: center;
  }
  
  .btn:hover{
   background: var(--btnHover);
  
  }
  
  a:hover{
    color: var(--a-linkHover) !important;
  }
  
    


  


/*--Media--*/

@media screen and (min-width:769px){

    #showcase {
        position: absolute;
        width:100%;
        height: 100%;  
        overflow: hidden; 
    
    }
    
    #showcase .container{
        position: absolute;
        top:5%;
        width:100%;
        height: 100%;
       display: flex;
       flex-direction: column;
      
       
     }
    
    
    #showcase .bg-image{
        width:100%;
        height:100%;
     
    }
    
    
    #showcase .s-bg-image{
         display: none;
    }
    
    
    #showcase .bg-image{
    
        animation: zoom 10s linear forwards;
    
    }
    
    
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
         100%{
            transform: scale(1.5);
        }
    }
    
    
    #showcase .logo{
      width:10%;
      margin-left: 5%;
    
      
    
        
    
    }
    #showcase h1{
        width:97%;
      font-family: var(--font);
      font-size: 550%;
      margin-top: 1em;
      text-transform: capitalize;
      align-self: center;
      
    
    
    }
    
    #showcase p{
        width:49%;
    
      font-family: sans-serif;
      font-size: 200%;
      align-self: center;
    
    }

    #showcase .btn{
        width:10%;
        padding: 1%;
        font-size: 110%;
        margin-top: 1%;
        text-align: center;
        align-self: center;
       
    }

    #showcase .down-arrow{
    position: relative;
     width:3%;
     height: 8%;
     margin-top:0%;
     align-self: center;
     animation: down-arrow 3s infinite ease;
    
    }

    @keyframes down-arrow {

        0%{top:0%;} 
        
        50%{top: 15%;}

        100%{top: 0%;} 
      
      }
   

      #showcase .select{
      position: relative;
      width:15%;
      height: 15%;
      bottom: 10%;
      left:43%;
      background:none;

    }

    #showcase ul{
     height: 50%;
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     background:none;


  
      }

      
    #showcase li{
        border-radius: 50%;
        height:27%;
        width:27px;
        background:var(--circles);
         }
    


/*-- Showcase End--*/



/*-- Section-a Start--*/

#section-a{
    position: absolute;
    top: 101%;
    height:11%;
    width:100%;
    overflow:hidden;
    background: var(--background);
  
  
  }
  
  
  #section-a ul{
    position: relative;
    width:98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }
  
  #section-a li{
    position: relative;
    width:50%;
    height:100%;
    display: flex;
    
  
  
  
  }
  
  #section-a a{
  position: relative;
  width:90%;
  height: 45%;
  margin-left:3%;
  font-family: var(--font);
  background:var(--section-d);
  border-radius: 5px;
  border: 2px solid var(--section-c);
  border-top: 8px solid var(--section-c);
  font-size: 2em;
  
  
  }
  
  #section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
  
  }
/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 108.6%;
    height:90%;
   overflow: hidden;

}

#section-b .s-cloud1{
    display: none;

}

#section-b .s-cloud2{
    display: none;

}




#section-b .container{
    position: absolute;
    width:100%;
    height: 97%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;


    }

    #section-b .s-car1{
        display: none;
    
    
    }
    
    #section-b .s-car2{
        display: none;
    
    
     }

    
#section-b .cloud1{
    position: absolute;
    width:100%;
    height:60%;
    right:0%;
   animation: moving-clouds 50s linear infinite;

}

#section-b .cloud2{
    position: absolute;
    width:60%;
    height: 45%;
    right:44%;
   animation: moving-clouds 80s linear infinite;

}


#section-b .car1{
    position: absolute;
    width: 25%;
    top:65%;
    right:2%;
    animation: moving-car1  12s  linear infinite;
}

#section-b .car2{
    position: absolute;
    width: 20%;
    top:64%;
    right:23%;
    animation: moving-car2  12s  linear infinite;


 }


 @keyframes moving-clouds {
    from{
      right: -110%;
    }
    to{
      right: 100%;
    }
    }

    @keyframes moving-car1 {
        0% {
          transform:scale(.3);
           right:-66%;
        }
        50%{
          right:25%;
      
        }
        100%{
            right:-50%;
        }
      
      
      }
      
      @keyframes moving-car2 {
        0% {
          transform:scale(.3);
           right:-50%;
        }
        50%{
          right:17%;
      
        }
        100%{
            right:-50%;
        }
      
      
      }
      

#section-b .container2{
    position: absolute;
    width:350px;
    height:420px;
    top:13%;
    left:6%;
    display: flex;
    flex-direction: column;
    align-items: center;



    }

#section-b  .btn{
  width:30%;
  margin-top:4%;

  
}

#section-b h1{
    font-family: var(--font);
    font-size: 370%;
    color:black;
    text-transform: uppercase;

}

#section-b p{
    width:85%;
    color: black;
    font-size: 115%;
    text-align: start;
}


#section-b .up-arrow{
    position: absolute;
     width: 3%;
     height: 8%;
     left:2%;
     bottom: 5%;
     align-self: center;
     animation: up-arrow 3s infinite ease;
    
    }

    @keyframes up-arrow {

        0%{bottom:5%;} 
        
        50%{bottom: 15%;}

        100%{bottom: 5%;} 
      
      }
   


/*-- Section-b End--*/

/*-- Section-c Start--*/

#section-c{
    position: absolute;
    width:100%;
    top:199.5%;
    height:16%;
    background:var(--section-c);
    display:flex;
    justify-content: center;

    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/* footer start */
    

#section-footer{
    position: absolute;
    width: 100%;
    top:216.5%;
    height:75%;
    background:var(--section-footer);
    overflow: hidden;
  }
  
  .info{
  width:100%;
  height: 75%;
  margin-right:1%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  
  }
  
  #section-footer .reds a{
    color: var(--linkColor);
    
   
   }
   
   
  
  #section-footer ul, li, a {
  background-color: inherit;
  
  
  }
  
  #section-footer .reds, .services, .location, .contacts{
    width:29%;
    height: 40%;
    margin-right: 2%;
  font-family: var(--font);
  
  
  
  }
  
  #section-footer .reds, .services, .location, .contacts{
    font-size: 2vh;
    
  }
  
  #section-footer .reds, .services, .location,  li{
    text-align: left;
    
  }
  
  
  
  #section-footer .contacts p{
   padding:7%;
   
  }
  
  
  
  #section-footer .info .box{
  width: 15%;
  height: 20%;

  }
  

  
  
  /*-- tags--*/
  
  .info-bottom{
  width: 100%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1.6vh;
  color: var(--infoTextColor#252425);
  font-family: var(--text);
  background: var(--background);
  display:flex;
  flex-direction: column;

  }
  
  .info-bottom .rights{
    width:100%;
    height: 35%;

  }
  
  .rights ul {
    width:80%;
    height: 7vh;

  
  }
  

  
  .rights li {
    text-align: center;
}
  
  
  
  .info-bottom .tags{
    background:var( --tagsBackground);
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .info-bottom .tags li{
  width:18%;
  height: 25%; 
  font-size: 1.4vh;
  color: var(--tags);
  font-family: var(--text)
  }
  
  /*-- Footer end--*/ 
  
  }


  @media screen and (max-width: 768px) {
   
  /*-- Showcase Start--*/


#showcase {
    position: absolute;
    top:8%;
    width:100%;
    height: 92%;  
    overflow: hidden; 

}

#showcase .container{
    position: absolute;
    top:3%;
    width:100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   
}


#showcase .bg-image{
    display:none;
 
}


#showcase .s-bg-image{
    width:100%;
    height:100vh;


}


#showcase .s-bg-image{

    animation: zoom 10s linear forwards;

}


@keyframes zoom{
    0%{
        transform: scale(1);
    }
     100%{
        transform: scale(1.5);
    }
}


#showcase .logo{
    position: absolute;
    width:24%;
    height: 5vh;
    left:6%;
    top:1%;
  
}

#showcase h1{
    width:97%;
  font-family: var(--font);
  font-size: 8vh;
  margin-top: 2em;
  text-transform: capitalize;
  align-self: center;
  


}

#showcase p{
    width:49%;

  font-family: sans-serif;
  font-size: 2.5vh;
  align-self: center;

}


#showcase .btn{
    width:20%;
    padding: 2% 0%;
    margin-top:2%;
    font-size: 1.4vh;
    text-align: center;
    align-self: center;
}

 .down-arrow{
   display:none;
   }



/*-- Showcase End--*/



/*-- Section-a Start--*/


#section-a{
    position: fixed;
    top: 0%;
    height:8%;
    width:100%;
    overflow:hidden;
    background: var(--background);
    z-index: 1;


}


#section-a ul{
    width:95%;
    height: 100%;
    display: flex;
   
    
}

#section-a li{
    width:30%;
    height:100%;
    display: flex;
    align-items: center;




}

 #section-a a{
  width:93%;
  height: 50%;
  font-family: var(--font);
  background:var(--navbarBackground);
  border-radius: 5px;
  border: 2px solid var(--navbarBorder);
  border-top: 8px solid var(--navbarBorder);
  font-size: 2vh;

}

#section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;

}



/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 101%;
    height:104%;
    overflow:hidden;


}


#section-b .container{
    position: absolute;
    width:100%;
    height: 100%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/s-bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
}

#section-b .s-cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    animation: moving-clouds 20s linear infinite;



}

#section-b .s-cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    animation: moving-clouds 15s linear infinite;


}


#section-b .s-car1{
    position: absolute;
    width: 55%;
    top:72%;
    right:-50%;
    animation: moving-car1 15s  linear infinite;


}

#section-b .s-car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:-55%;
    animation: moving-car2 15s  linear infinite;

 }


#section-b .cloud1{
    position: absolute;
    width:100%;
    height:45%;
    right:65%;
    display: none;


}

#section-b .cloud2{
    position: absolute;
    width:80%;
    height: 45%;
    right:1%;
    display: none;


}


#section-b .car1{
    position: absolute;
    width: 50%;
    top:72%;
    right:2%;
    display: none;


}

#section-b .car2{
    position: absolute;
    width: 40%;
    top:73%;
    right:45%;
    display: none;

 }

#section-b .container2{
 width: 90%;
 height:80%;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;

}

#section-b  .btn{
width: 20%;
margin:12% 0% 0% 20%;
}

#section-b h1{
    font-family: var(--font);
    font-size: 7vh;
    color:black;
    text-transform: uppercase;
    align-self: flex-start;

}

#section-b p{
    width:70%;
    font-size: 1.7vh;
    color: black;
    text-align: left;
   
    
}


 .up-arrow{
    display:none;
    
    }

@keyframes moving-clouds {
from{
  right: -110%;
}
to{
  right: 100%;
}
}


@keyframes moving-car1 {
  0% {
    transform:scale(.3);
     right:-66%  ;
  }
  50%{
    right:50%;

  }


}

@keyframes moving-car2 {
  0% {
    transform:scale(.3);
     right:-50%  ;
  }
  50%{
    right:40%;

  }
}




/*-- Section-b End--*/

/*-- Section-c Start--*/


#section-c{
    position: absolute;
    top:205%;
    width:100%;
    height:10%;
    background:var(--section-c);
    display:flex;
    justify-content: center;
    overflow: hidden;
}


#section-c .s-brand{
    position: relative;
    height: 50%;
    align-self: center;
    animation: moving-banner 29s linear infinite;

}

#section-c .brand{
   display: none;

}


@keyframes moving-banner {

  0%{
    left: -104%;
  }
  100%{
    left: 100%;
  }

}
/*-- Section-c End--*/


/* footer start */
    

#section-footer{
    position: absolute;
    width: 100%;
    top:215%;
    height:75%;
    background:var(--section-footer);
    overflow: hidden;
  }
  
  .info{
  width:100%;
  height: 75%;
  margin-right:1%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  }
  
  #section-footer .reds a{
    color: var(--linkColor);
    
   
   }
   
   
  
  #section-footer ul, li, a {
  background-color: inherit;
  
  
  }
  
  #section-footer .reds, .services, .location, .contacts{
    width:26%;
    font-size: 2vh;
  font-family: var(--font);
  
  
  }
  
  
  #section-footer .reds, .services, .location,  .contacts {
  height: 40%;
    
  }
  


  #section-footer .reds, .services, .location,  li{
    text-align: left;
    align-content: space-around;
    
  }
  
  
  
  #section-footer .contacts p{
   padding:7% 0%;
   
  }
  
  
  #section-footer .contacts{
      width:30%;
   margin-left: 60%;
   }
   
   
  
  #section-footer .info .box{
  width: 30%;
  height: 20%;
  
}
  

  
  
  /*-- tags--*/
  
  .info-bottom{
  width: 100%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1.6vh;
  color: var(--infoTextColor#252425);
  font-family: var(--text);
  background: var(--background);
  display:flex;
  flex-direction: column;

  }
  
  .info-bottom .rights{
    width:100%;
    height: 35%;

  }
  
  .rights ul {
    width:50%;
    height: 7vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  
  }
  

  
  .rights li {
    text-align: center;
}
  
  
  
  .info-bottom .tags{
    background:var( --tagsBackground);
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .info-bottom .tags li{
  width:20%;
  height: 25%; 
  font-size: 1.4vh;
  color: var(--tags);
  font-family: var(--text);
  text-align: center;
  }
  
  /*-- Footer end--*/ 

}