:root{

    /*-- core --*/
      --background: #1a1b1d;
      --textColor: rgb(255, 255, 255);
      --alinkHover:rgb(255, 255, 255);
      --btnBackground:#ddb217;
      --btnHover:rgb(139, 0, 0);
      --btnTextColor:rgb(0, 0, 0);
      --circles:rgba(103,112,127,.6);
  
      /* section- a */
      --navbarBorder:rgb(186, 46, 47, 1);
      --navbarBackground:rgb(93, 93, 93, .5);
      --navMouseOver: #4b4b4b;
  
       /* section- b */
       --section-b:#202020;
       --imgBorder:rgb(255, 0, 0);
       
       /* section-b-footer */
       --section-b-footer:#5d5d5d;
  
      /* section- c */
      --section-c:#ba2e2f;
  
      /* section- d */
      --section-d:#5d5d5d;
  
      /* footer */
      --section-footer:#5d5d5d;
      --tags:#616162;
      --tagsBackground:#252425;
      --linkColor: #8b0000;
      --infoTextColor:#252425;
    
    /*-- Fonts --*/
      --font:fantasy;
    
    }
    
    
    /*--Core Styles--*/
    
    body, ul, li, a{
      margin:0 auto;
      padding:0;
      font-family: Arial, Helvetica, sans-serif;
      background: var(--background);
      color:var(--textColor);
      text-align: center;
      text-decoration: none;
      list-style-type: none;
      letter-spacing: .05em;
      
  
  }
  
  
  h1, h2, h3, h4, a{
      color: var(--textColor);
      margin:0;
      padding:0;
  }
  
  p{
      margin:0;
      padding: 1em 0;
  }
  
  .btn{
      background:var(--btnBackground);
      display: block;
      color: var(--btnTextColor);
      padding: .5em 1em;
      margin: .1em 0;
      text-align: center;
  }
  
  .btn:hover{
   background: var(--btnHover);
  
  }
  
  a:hover{
    color: var(--a-linkHover) !important;
  }
  
    



 
   
    /*-- Showcase Start--*/
  
  
  #showcase {
      width:100%;
      height: 70%;
      height: 70vh;  
      overflow: hidden; 
  
  }
  
  #showcase .container{
      position: absolute;
      top:0%;
      width:100%;
      height: 70%;
      height: 70vh;
     display: flex;
     flex-direction: column;
     
  }
  
  
  #showcase .bg-image{
      display:none;
   
  }
  
  
  #showcase .s-bg-image{
    width:100%;
    height: 100%;
  
  }
  
  
  #showcase .s-bg-image{
  
      animation: zoom 10s linear forwards;
  
  }
  
  
  @keyframes zoom{
      0%{
          transform: scale(1);
      }
       100%{
          transform: scale(1.5);
      }
  }
  
  
  #showcase .logo{
    width:30vw;
    height: auto;
    align-self: flex-start;
    margin: 7% 0% 0% 4%;   
  
  }
  
  #showcase h1{
    width:97%;
    font-family: var(--font);
    font-size: 5vh;
    margin-top: 1em;
    align-self: center;
     
  }
  
  #showcase p{
      width:49%;
    font-family: sans-serif;
    font-size: 2.vh;
    align-self: center;
  
  }
  
  
  #showcase .btn{
      width:30%;
      height: 2%;
      height: 3vh;
      padding: 3% 0%;
      margin-top:7%;
      font-size: 2vh;
      border-radius: 5%;
     font-weight: bold;
      align-self: center;
  }
  
   .down-arrow{
     display:none;
     }
  
  
  
  /*-- Showcase End--*/
  
  
  
  /*-- Section-a Start--*/
  
  
  
  #section-a {
    position: absolute;
    top:70%;
    width:100%;
    height: 40%;
    height: 40vh;
    background: var(--background);
    overflow: hidden;
  
  }
  
  
  #section-a ul{
    width:95%;
    height: 27vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  space-around;
    align-items: center;
   
    
  }
  
  #section-a li{
    width:35%;
    height:25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  
  
  #section-a a{
    width:100%;
    height: 100%;
    font-family: var(--font);
    background:var(--navbarBackground);
    border-radius: 5px;
    border: 2px solid var(--navbarBorder);
    border-top: 8px solid var(--navbarBorder);
    font-size: 2.5vh;
    text-transform: uppercase;
  
  }
  
  
  /*-- Section-a Finish--*/
  
  
  /*-- Section-b Start--*/
  
  #section-b {
       position: absolute;
      width:100%;
      top: 101%;
      height:104%;
      overflow:hidden;
  
  
  }
  
  
  #section-b .container{
      position: absolute;
      width:100%;
      height: 100%;
  }
  
  #section-b .bg-image{
      position: absolute;
      background:url(../images/s-bg-grey.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height:100%;
      width:100%;
  }
  
  #section-b .s-cloud1{
      position: absolute;
      width:100%;
      height:45%;
      right:65%;
      animation: moving-clouds 20s linear infinite;
  
  
  
  }
  
  #section-b .s-cloud2{
      position: absolute;
      width:80%;
      height: 45%;
      right:1%;
      animation: moving-clouds 15s linear infinite;
  
  
  }
  
  
  #section-b .s-car1{
      position: absolute;
      width: 62v;
      height: auto;
      top:72%;
      right:-50%;
      animation: moving-car1 15s  linear infinite;
  
  
  }
  
  #section-b .s-car2{
      position: absolute;
      width: 30vw;
      height: auto;
      top:73%;
      right:-55%;
      animation: moving-car2 15s  linear infinite;
  
   }
  
  
  #section-b .cloud1{
      position: absolute;
      width:100%;
      height:45%;
      right:65%;
      display: none;
  
  
  }
  
  #section-b .cloud2{
      position: absolute;
      width:80%;
      height: 45%;
      right:1%;
      display: none;
  
  
  }
  
  
  #section-b .car1{
      position: absolute;
      width: 50%;
      top:72%;
      right:2%;
      display: none;
  
  
  }
  
  #section-b .car2{
      position: absolute;
      width: 40%;
      top:73%;
      right:45%;
      display: none;
  
   }
  
  #section-b .container2{
   width: 65%;
   height:80%;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
  
  }
  
#section-b  .btn{
width:50%;
height: 2%;
height: 4vh;
padding: 3% 0%;
margin-top:7%;
font-size: 2vh;
border-radius: 5%;
font-weight: bold;
align-self: center;

}
  
  #section-b h1{
      font-family: var(--font);
      font-size: 7vh;
      color:black;
      text-transform: uppercase;
      align-self: flex-start;
  
  }
  
  #section-b p{
      width:90%;
      font-size: 2vh;
      color: black;
      text-align: left;
      align-self: flex-start;
     
      
  }
  
  
   .up-arrow{
      display:none;
      
      }
  
  @keyframes moving-clouds {
  from{
    right: -110%;
  }
  to{
    right: 100%;
  }
  }
  
  
  @keyframes moving-car1 {
    0% {
      transform:scale(.3);
       right:-66%  ;
    }
    50%{
      right:50%;
  
    }
  
  
  }
  
  @keyframes moving-car2 {
    0% {
      transform:scale(.3);
       right:-50%  ;
    }
    50%{
      right:40%;
  
    }
  }
  
  
  
  
  /*-- Section-b End--*/
  
  /*-- Section-c Start--*/
  
  
  #section-c{
      position: absolute;
      top:205%;
      width:100%;
      height:10%;
      background:var(--section-c);
      display:flex;
      justify-content: center;
      overflow: hidden;
  }
  
  
  #section-c .s-brand{
      position: relative;
      height: 50%;
      align-self: center;
      animation: moving-banner 29s linear infinite;
  
  }
  
  #section-c .brand{
     display: none;
  
  }
  
  
  @keyframes moving-banner {
  
    0%{
      left: -104%;
    }
    100%{
      left: 100%;
    }
  
  }
  /*-- Section-c End--*/
  
  
  /* footer start */
      
  
  #section-footer{
      position: absolute;
      width: 100%;
      top:215%;
      height:100%;
      background:var(--section-footer);
      overflow: hidden;
    }
    
    .info{
    width:100%;
    height: 75%;
    margin-right:1%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    }
    
    #section-footer .reds a{
      color: var(--linkColor);
      
     
     }
     
     
    
    #section-footer ul, li, a {
    background-color: inherit;
    
    
    }
    
    #section-footer .reds, .services, .location, .contacts{
      width:26%;
      font-size: 2vh;
    font-family: var(--font);
    
    
    }
    
    
    #section-footer .reds, .services, .location,  .contacts {
    height: 40%;
      
    }
    
  
  
    #section-footer .reds, .services, .location,  li{
      text-align: left;
      align-content: space-around;
      
    }
    
    
    
    #section-footer .contacts p{
     padding:7% 0%;
     
    }
    
    
    #section-footer .contacts{
        width:40%;
     margin-left: 45%;
     }
     
     
    
    #section-footer .info .box{
    width: 25%;
    height: auto;
    padding-left:3%; 

    
  }
    
  
    
    
    /*-- tags--*/
    
    .info-bottom{
    width: 100%;
    height: 30%;
    font-family: sans-serif;
    font-size: 1.6vh;
    color: var(--infoTextColor#252425);
    font-family: var(--text);
    background: var(--background);
    display:flex;
    flex-direction: column;
  
    }
    
    .info-bottom .rights{
      width:100%;
      height: 35%;
  
    }
    
    .rights ul {
      width:50%;
      height: 7vh;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
    
    }
    
  
    
    .rights li {
      text-align: center;
  }
    
    
    
    .info-bottom .tags{
      background:var( --tagsBackground);
      width:100%;
      height: 70%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  
    .info-bottom .tags li{
    width:20%;
    height: 25%; 
    font-size: 1.4vh;
    color: var(--tags);
    font-family: var(--text);
    text-align: center;
    }
    
    /*-- Footer end--*/ 




  @media screen and (min-width: 568px) {
  
/*-- Showcase Start--*/


#showcase {
    position: relative;
    width:100%;
    height: 100%;
    height: 100vh;  
    overflow: hidden; ; 
}

#showcase .container {
    width:100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
     
 }


#showcase .bg-image{
    display:none;
 
}



#showcase .s-bg-image{
    width: 100%;
    height: 100vh;
    animation: zoom 10s linear forwards;

}


@keyframes zoom{
    0%{
        transform: scale(1);
    }
     100%{
        transform: scale(1.5);
    }
}


#showcase .logo{
    width:16vw;
    height: auto;
    align-self: flex-start;
   
}


#showcase h1{
    width:50%;
  font-family: var(--font);
  font-size: 10vh;
  margin-top:0%;
   
}


#showcase p{
    width:49%;
  font-family: sans-serif;
  font-size: 3.5vh;
  align-self: center;
  padding:0%;

}


#showcase .btn{
    width:17%;
    margin:1% 0% 13% 0%;
    font-size: 3.5vh;
    text-align: center;
    align-self: center;
}

  
#showcase li{
    border-radius: 50%;
    height:27%;
    width:28px;
    background:var(--circles);
     }



/*-- Showcase End--*/



/*-- Section-a Start--*/

#section-a{
position: absolute;
top: 100%;
height:20%;
width:100%;
overflow:hidden;
background: var(--background);


}


#section-a ul{
width:98%;
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;

}

#section-a li{
width:50%;
height:80%;
display: flex;
justify-content: space-around;
align-items: center;




}

#section-a a{
width:90%;
height: 70%;
font-size: 7vh;


}

#section-a a:hover{
background-color: var(--navMouseOver);
border-radius: 5px;

}
/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
position: absolute;
width:100%;
top: 122.0%;
height:210%;

}



#section-b .container2{
position: absolute;
width:50%;
height:50%;
top:13%;
left:6%;

}

#section-b  .btn{
width:50%;
height: 4vh;
padding: 3% 0%;
margin-top:7%;
font-size: 3vh;

}

#section-b h1{
font-family: var(--font);
font-size: 17vh;

}

#section-b p{
    width:99%;
    font-size: 4vh;
   
}


@keyframes moving-car1 {
    0% {
      transform:scale(.3);
       right:-66%  ;
    }
    50%{
      right:20%;
  
    }
  
  
  }
  
  @keyframes moving-car2 {
    0% {
      transform:scale(.3);
       right:-50%  ;
    }
    50%{
      right:10%;
  
    }
  }


/*-- Section-b End--*/

/*-- Section-c Start--*/

#section-c{
position: absolute;
width:100%;
top:332%;
height:24%;

}


#section-c .s-brand{
   display:none;
}



#section-c .brand{
    position: relative;
    width:75%;
    height: auto;
    height: 12vh;
   align-self: center;
   display: block;
   animation: moving-banner 29s linear infinite;
}


/*-- Section-c End--*/


/* footer start */


#section-footer{
position: absolute;
top:356.5%;
width: 100%;
height:150%;
}


#section-footer .reds, .services, .location, .contacts{
  font-size: 4vh;
}


#section-footer .info .box{
width: 13%;
height: auto;
padding: 0% 2% 0% 0%;

}




/*-- tags--*/

.info-bottom{
font-size: 3.5vh;

}

.rights ul {
  height: 8vh;

}

.info-bottom .tags li{
font-size: 4vh;

}
  
  /*-- Footer end--*/ 


}
    


/*--Media--*/

@media screen and (min-width:1024px){

       
    #showcase .s-bg-image{
        display:none;
     
    }


    #showcase .bg-image{
        width:100%;
        height: 100%;
        display:block;
     
    }
    
        
    #showcase .bg-image{
    
        animation: zoom 10s linear forwards;
    
    }
    
    
    @keyframes zoom{
        0%{
            transform: scale(1);
        }
         100%{
            transform: scale(1.5);
        }
    }
    

    #showcase .logo{
      width:11vw;
      height: auto;
      align-self: flex-start;
      margin: 3% 0% 0% 5%;   
    
    }
    
    #showcase h1{
      width:97%;
      font-family: var(--font);
      font-size: 8vh;
      margin-top: 1em;
      align-self: center;
       
    }
    
    #showcase p{
      width:49%;
      padding:1%;
      font-family: sans-serif;
      font-size: 2vh;
      align-self: center;
    
    }
    
    
    #showcase .btn{
        width:12%;
        height: 2%;
        height: 1vh;
        padding: 1.2%;
        font-size: 2vh;
    }
    
     #showcase .down-arrow{
     position: relative;
     width:3%;
     height: 8%;
     align-self: center;
     animation: down-arrow 3s infinite ease;
     display:block;
    }

    

    @keyframes down-arrow {

        0%{top:-20%;} 
        
        50%{top: -5%;}

        100%{top: -20%;} 
      
      }
   

      #showcase ul{
        width:15%;
        height: 8%;
        margin-bottom: 1%;
        display:flex;
        flex-direction: row;
        background:none;
        justify-content: space-around;
        align-items: center;
       
       }
       
      
    #showcase li{
        border-radius: 50%;
        height:27%;
        width:27px;
        background:var(--circles);
         }
    


/*-- Showcase End--*/



/*-- Section-a Start--*/


#section-a{
  position: absolute;
  top: 101%;
  height:7%;
  width:100%;
  overflow:hidden;
  background: var(--background);

}

#section-a ul{
  width:98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#section-a li{
  width:50%;
  height:100%;
  display: flex;
  
}

#section-a a{
width:90%;
height: 70%;
margin-left:3%;
font-family: var(--font);
background:var(--navbarBackground);
border-radius: 5px;
border: 2px solid var(--navbarBorder);
border-top: 8px solid var(--navbarBorder);
font-size: 2em;
font-size: 3.4vh;


}

#section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;

}

/*-- Section-a Finish--*/


/*-- Section-b Start--*/

#section-b {
     position: absolute;
    width:100%;
    top: 110%;
    height:90%;
}

#section-b .s-cloud1{
    display: none;

}

#section-b .s-cloud2{
    display: none;

}




#section-b .container{
    position: absolute;
    width:100%;
    height: 97%;
}

#section-b .bg-image{
    position: absolute;
    background:url(../images/bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width:100%;
    overflow: hidden;


    }

    #section-b .s-car1{
        display: none;
    
    
    }
    
    #section-b .s-car2{
        display: none;
    
    
     }

    
#section-b .cloud1{
    position: absolute;
    width:100%;
    height:60%;
    right:0%;
    overflow-x: hidden;
   animation: moving-clouds 50s linear infinite;
   display:block;
}

#section-b .cloud2{
    position: absolute;
    width:60%;
    height: 45%;
    right:44%;
    overflow-x: hidden;
   animation: moving-clouds 80s linear infinite;
   display:block;
}


#section-b .car1{
    position: absolute;
    width: 25%;
    top:65%;
    right:2%;
    animation: moving-car1  12s  linear infinite;
    display:block;
}

#section-b .car2{
    position: absolute;
    width: 20%;
    top:64%;
    right:23%;
    animation: moving-car2  12s  linear infinite;
    display:block;

 }


 @keyframes moving-clouds {
    from{
      right: -110%;
    }
    to{
      right: 100%;
    }
    }

    @keyframes moving-car1 {
        0% {
          transform:scale(.3);
           right:-66%;
        }
        50%{
          right:25%;
      
        }
        100%{
            right:-50%;
        }
      
      
      }
      
      @keyframes moving-car2 {
        0% {
          transform:scale(.3);
           right:-50%;
        }
        50%{
          right:17%;
      
        }
        100%{
            right:-50%;
        }
      
      
      }
      

#section-b .container2{
    position: absolute;
    width:30%;
    height:420px;
    top:13%;
    left:6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    }

    #section-b  .btn{
        width:20%;
        height: 10%;
        height: 7vh;
        font-size: 1.5vh;
        align-self: start;
        
        }

#section-b h1{
    font-family: var(--font);
    font-size: 8vh;
    color:black;
    text-transform: uppercase;

}

#section-b p{
    width:99%;
    color: black;
    font-size: 2.4vh;
    text-align: start;
}


#section-b .up-arrow{
    position: absolute;
     width: 3%;
     height: 8%;
     left:2%;
     bottom: 5%;
     align-self: center;
     animation: up-arrow 3s infinite ease;
     display:block;
    
    }

    @keyframes up-arrow {

        0%{bottom:5%;} 
        
        50%{bottom: 15%;}

        100%{bottom: 5%;} 
      
      }
   


/*-- Section-b End--*/

/*-- Section-c Start--*/

#section-c{
    position: absolute;
    width:100%;
    top:200%;
    height:16%;
}



/*-- Section-c End--*/


/* footer start */
    

#section-footer{
    position: absolute;
    width: 100%;
    top:216.5%;
    height:100%;
    background:var(--section-footer);
    overflow: hidden;
  }
  
  .info{
    width:100%;
    height: 75%;
    margin-right:1%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    }
    
    #section-footer .reds a{
      color: var(--linkColor);
      
     
     }
     
     
    
    #section-footer ul, li, a {
    background-color: inherit;
    
    
    }
    
    #section-footer .reds, .services, .location, .contacts{
      width:26%;
      font-size: 95%;
      font-size: 2.5vh;
    font-family: var(--font);
    
    
    }
    
    
    #section-footer .reds, .services, .location,  .contacts {
    height: 40%;
      
    }
    
  
  
    #section-footer .reds, .services, .location,  li{
      text-align: left;
      align-content: space-around;
      
    }
    
    
    
    #section-footer .contacts p{
     padding:7% 0%;
     
    }
    
    
    #section-footer .contacts{
        width:30%;
     margin-left: 60%;
     }
     
     
    
    
    
    /*-- tags--*/
    
    .info-bottom{
    width: 100%;
    height: 30%;
    font-family: sans-serif;
    font-size: 1.6vh;
    color: var(--infoTextColor#252425);
    font-family: var(--text);
    background: var(--background);
    display:flex;
    flex-direction: column;
  
    }
    
    .info-bottom .rights{
      width:100%;
      height: 35%;
  
    }
    
    .rights ul {
      width:50%;
      height: 7vh;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  
    
    }
    
  
    
    .rights li {
      text-align: center;
  }
    
    
    
    .info-bottom .tags{
      background:var( --tagsBackground);
      width:100%;
      height: 70%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  
    .info-bottom .tags li{
    width:20%;
    height: 25%; 
    font-size: 1.4vh;
    color: var(--tags);
    font-family: var(--text);
    text-align: center;
    }
    
    /*-- Footer end--*/ 
  
  
  }