:root{

    /*-- core --*/
      --background: #1a1b1d;
      --textColor: rgb(255, 255, 255);
      --alinkHover:rgb(255, 255, 255);
      --btnBackground:#ddb217;
      --btnHover:rgb(139, 0, 0);
      --btnTextColor:rgb(0, 0, 0);
      --circles:rgba(103,112,127,.6);

      /* section- a */
      --navbarBorder:rgb(186, 46, 47, 1);
      --navbarBackground:rgb(93, 93, 93, .5);
      --navMouseOver: #4b4b4b;

       /* section- b */
       --section-b:#202020;
       --overlayBackground:rgba(0,0,0,0.8);

      /* section- c */
      --section-c:#ba2e2f;

      /* section- d */
      --section-d:#5d5d5d;

      /* footer */
      --section-footer:#5d5d5d;
      --tags:#616162;
      --tagsBackground:#252425;
      --linkColor: #8b0000;
      --infoTextColor:#252425;
    
    /*-- Fonts --*/
      --font:fantasy;
    
    }
    
    
    /*--Core Styles--*/
    
    body, ul, li, a{
        margin:0 auto;
        padding:0;
        font-family: Arial, Helvetica, sans-serif;
        background: var(--background);
        color:var(--textColor);
        font-size: 1.em;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        letter-spacing: .05em;
        
    
    }
    
    
    h1, h2, h3, h4, a{
        color: var(--textColor);
        margin:0;
        padding:0;
    }
    
    p{
        margin:0;
        padding: 1em 0;
    }
    
    .btn{
        background:var(--btnBackground);
        display: block;
        color: var(--btnTextColor);
        padding: .5em 1em;
        margin: .1em 0;
        text-align: center;
    }
    
    .btn:hover{
     background: var(--btnHover);
    
    }
    
    a:hover{
      color: var(--a-linkHover) !important;
    }

    

  
  
  /*-- Showcase Start--*/
    
  
 #showcase {
  position: absolute;
  width:100%;
  height: 35%;
  overflow: hidden;


}


#showcase .bg-image{
  display:none;

}


#showcase .s-bg-image{
  width:100%;
  height:100%;
  margin: auto;

}


#showcase .logo{
  position: absolute;
  width:30vw;
  height: auto;
  left:6%;
  top:5%;

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 5vh;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;
  
}
  
  /*-- Showcase End--*/
  
  
  
  /*-- Section-a Start--*/
  
  #section-a{
  position:fixed;
  height:30vh;
  width:19vw;
  right:2%;
  overflow:hidden;
  z-index: 1
  
  }
  
  #section-a ul{
  width:100%;
  height: 100%;
  background:none;
  display: flex;
  flex-direction: column;
  
  }
  
  #section-a li{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  
  
  
  }
  
  #section-a a{
  width:92%;
  height: 54%;
  font-family: var(--font);
  background:var(--navbarBackground);
  border-radius: 5px;
  border: 2px solid var(--navbarBorder);
  border-top: 8px solid var(--navbarBorder);
  font-size: 2vh;
  }
  
  
  /*-- Section-a Finish--*/
  
  
  /*-- Section-b Start--*/
  
  
  #section-b {
  position: absolute;
  top: 37%;
  width: 100%;
  height: 130%;
 
  }


  #section-b .container{
    width: 100%;
    height: 100%;
    background:var(--section-b);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    
  }
  
  #section-b a {
  
  width: 30%;
  height:10%;
  cursor: pointer;
  outline: 0;
  }
  
  #section-b a:hover {
  opacity: 0.7;   
  }
  
  #section-b a img { 
  width: 95%;
  height: 100%;
  
  }
  
  #overlay { 
  background: var( --overlayBackground); 
  position:fixed; 
  top: 0; 
  right: 0; 
  left:0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 99999; 
  display: none;
  }
  
  #overlay .modal {
  
  border-radius: 5px;
  width: 95%;
  height: 85%;
  padding-top: 10%;
  margin: auto;
  position: relative;
  
  }
  
  
  
  #overlay .modal #close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-transform: uppercase;
  }
  
  #overlay iframe {
  width: 100%;
  height: 85vh;
  }
  
  /*-- Section-b finish--*/
  
  
  
  
 /*-- Section-c Start--*/

#section-c{
  position: absolute;
  top:169%;
  width:100%;
  height:10%;
  background:var(--section-c);
  display:flex;
  justify-content: center;
  overflow: hidden;
}


#section-c .s-brand{
  position: relative;
  height: 50%;
  align-self: center;
  animation: moving-banner 29s linear infinite;

}

#section-c .brand{
 display: none;

}


@keyframes moving-banner {

0%{
  left: -104%;
}
100%{
  left: 100%;
}

}
/*-- Section-c End--*/


/* footer start */
  

#section-footer{
  position: absolute;
  width: 100%;
  top:179%;
  height:100%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
width:100%;
height: 75%;
margin-right:1%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;

}

#section-footer .reds a{
  color: var(--linkColor);
  
 
 }
 
 

#section-footer ul, li, a {
background-color: inherit;


}

#section-footer .reds, .services, .location, .contacts{
  width:26%;
  font-size: 2vh;
font-family: var(--font);


}


#section-footer .reds, .services, .location,  .contacts {
height: 40%;
  
}



#section-footer .reds, .services, .location,  li{
  text-align: left;
  align-content: space-around;
  
}



#section-footer .contacts p{
 padding:7% 0%;
 
}


#section-footer .contacts{
    width:40%;
 margin-left: 45%;
 }
 

#section-footer .info .box{
width: 25%;
height: auto;
padding-left:3%; 


}

/*-- tags--*/

.info-bottom{
width: 100%;
height: 30%;
font-family: sans-serif;
font-size: 1.6vh;
color: var(--infoTextColor#252425);
font-family: var(--text);
background: var(--background);
display:flex;
flex-direction: column;

}

.info-bottom .rights{
  width:100%;
  height: 35%;

}

.rights ul {
  width:50%;
  height: 7vh;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}



.rights li {
  text-align: center;
}

.info-bottom .tags{
  background:var( --tagsBackground);
  width:100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info-bottom .tags li{
width:20%;
height: 25%; 
font-size: 1.4vh;
color: var(--tags);
font-family: var(--text);
text-align: center;
}

/*-- Footer end--*/ 




    /*--Media--*/
    
    
    @media screen and (min-width: 568px){
     
      #showcase{
      position: absolute;
      width:100%;
      height: 100%;
      overflow: hidden;
  
  
  }
  
  
  #showcase .bg-image{
      width:100%;
      height:100%;
      display:block;
  
  }
  
  
  #showcase .s-bg-image{
     display:none;
  }
  
  
  
  #showcase .logo{
    width:16vw;
    height: auto;
    align-self: flex-start;
   
  }
  #showcase h1{
    font-family: var(--font);
    font-size: 10vh;
  
  }
  
  
  /*-- Showcase End--*/
  
  
  /*-- Section-a Start--*/
  
  #section-a{
    position: absolute;
    top: 100%;
    height:20%;
    width:100%;
    overflow:hidden;
    background: var(--background);
    right:0%;
    
    }
    
    #section-a ul{
    width:98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
    
    #section-a li{
    width:50%;
    height:80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    }
    
    #section-a a{
    width:90%;
    height: 70%;
    font-size: 7vh;
    
    
    }
    
    #section-a a:hover{
    background-color: var(--navMouseOver);
    border-radius: 5px;
    
    }
  
  /*-- Section-a Finish--*/
  
  /*-- Section-b Start--*/
  
  #section-b {
    position: absolute;
    top: 122%;
    width: 100%;
    height: 370%;
  }

  
  #section-b .container{
    width: 100%;
    height: 100%; 
    
  }
  
  
  #section-b a {
    
    width: 25%;
    height:auto;
    cursor: pointer;
    outline: 0;
    }
  
  #section-b a:hover {
    opacity: 0.7;   
  }
  
  #section-b a img { 
    width: 95%;
    height: 100%;
  
  }
  
  #overlay { 
    background: var(--overlayBackground);
    position:fixed; 
    top: 0; 
    right: 0; 
    left:0; 
    bottom: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 99999; 
    display: none;
  }
  
  #overlay .modal {
    
    border-radius: 5px;
    width: 95%;
    height: 85%;
    padding-top: 3%;
    position: relative;
  
  }
  
  
  
  #overlay .modal #close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  #overlay iframe {
      width: 100%;
      height: 85vh;
  }
  
  /*-- Section-b finish--*/
  
  
  /*-- Section-c Start--*/
  
#section-c{
  position: absolute;
  width:100%;
  top:494%;
  height:24%;
  
  } 
  
  #section-c .s-brand{
     display:none;
  }
  
  #section-c .brand{
      position: relative;
      width:75%;
      height: auto;
      height: 12vh;
     align-self: center;
     display: block;
     animation: moving-banner 29s linear infinite;
  }
  
  /*-- Section-c End--*/


/* footer start */


#section-footer{
  position: absolute;
  top:518.5%;
  width: 100%;
  height:150%;
  }
  
  
  #section-footer .reds, .services, .location, .contacts{
    font-size: 4vh;
  }
  
  
  #section-footer .info .box{
  width: 13%;
  height: auto;
  padding: 0% 2% 0% 0%;
  
  }

  
  
  
  /*-- tags--*/
  
  .info-bottom{
  font-size: 3.5vh;
  
  }
  
  .rights ul {
    height: 8vh;
  
  }
  
  .info-bottom .tags li{
  font-size: 4vh;
  
  }
    
    /*-- Footer end--*/ 
  
  
  }



    /*--Media--*/
    
    
    @media screen and (min-width: 1024px){
     
    #showcase{
    position: absolute;
    width:100%;
    height: 100%;
    overflow: hidden;


}


#showcase .bg-image{
    width:100%;
    height:100%;
    display:block;

}


#showcase .s-bg-image{
   display:none;
}



#showcase .logo{
    position: absolute;
    width:10%;
    left:6%;
    top:5%;
  

}
#showcase h1{
  position: absolute;
  font-family: var(--font);
  font-size: 550%;
  width:97%;
  top:30%;
  left:2.5%;
  text-transform: capitalize;


}


/*-- Showcase End--*/


/*-- Section-a Start--*/

#section-a{
  position: absolute;
  top: 101%;
  height:7%;
  width:100%;
  overflow:hidden;
  background: var(--background);


}


#section-a ul{
  position: relative;
  width:98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

#section-a li{
  position: relative;
  width:50%;
  height:100%;
  display: flex;
  
}

#section-a a{
position: relative;
width:90%;
height: 70%;
margin-left:3%;
font-family: var(--font);
background:var(--navbarBackground);
border-radius: 5px;
border: 2px solid var(--navbarBorder);
border-top: 8px solid var(--navbarBorder);
font-size: 2em;


}

#section-a a:hover{
  background-color: var(--navMouseOver);
  border-radius: 5px;

}


/*-- Section-a Finish--*/

/*-- Section-b Start--*/

#section-b {
  position: absolute;
  top: 108%;
  width: 100%;
  height: 74%;
  
}


#section-b .container{
  width: 100%;
  height: 100%;

}


#section-b a {
  
  width: 10%;
  height:15%;
  cursor: pointer;
  outline: 0;
  }

#section-b a:hover {
  opacity: 0.7;   
}

#section-b a img { 
  width: 95%;
  height: 100%;

}

#overlay { 
  background: var(--overlayBackground);
  position:fixed; 
  top: 0; 
  right: 0; 
  left:0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  z-index: 99999; 
  display: none;
}

#overlay .modal {
  
  border-radius: 5px;
  width: 95%;
  height: 85%;
  margin: 40px auto;
  position: relative;

}



#overlay .modal #close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-transform: uppercase;
}

#overlay iframe {
    width: 100%;
    height: 85vh;
}

/*-- Section-b finish--*/


/*-- Section-c Start--*/


#section-c{
  position: absolute;
  width:100%;
  top:184%;
  height:16%;
  background:var(--section-c);
  display:flex;
  justify-content: center;

  overflow: hidden;
}


#section-c .s-brand{
 
  display:none;
}

#section-c .brand{
 display: block;

}


@keyframes moving-banner {

0%{
  left: -104%;
}
100%{
  left: 100%;
}

}
/*-- Section-c End--*/


#section-footer{
  position: absolute;
  width: 100%;
  top:200.5%;
  height:100%;
  background:var(--section-footer);
  overflow: hidden;
}

.info{
  width:100%;
  height: 75%;
  margin-right:1%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
  }
  
  #section-footer .reds a{
    color: var(--linkColor);
    
   
   }
   
   
  
  #section-footer ul, li, a {
  background-color: inherit;
  
  
  }
  
  #section-footer .reds, .services, .location, .contacts{
    width:26%;
    font-size: 95%;
    font-size: 2.5vh;
  font-family: var(--font);
  
  
  }
  
  
  #section-footer .reds, .services, .location,  .contacts {
  height: 40%;
    
  }
  


  #section-footer .reds, .services, .location,  li{
    text-align: left;
    align-content: space-around;
    
  }
  
  
  
  #section-footer .contacts p{
   padding:7% 0%;
   
  }
  
  
  #section-footer .contacts{
      width:30%;
   margin-left: 60%;
   }
   
   
  
  
  
  /*-- tags--*/
  
  .info-bottom{
  width: 100%;
  height: 30%;
  font-family: sans-serif;
  font-size: 1.6vh;
  color: var(--infoTextColor#252425);
  font-family: var(--text);
  background: var(--background);
  display:flex;
  flex-direction: column;

  }
  
  .info-bottom .rights{
    width:100%;
    height: 35%;

  }
  
  .rights ul {
    width:50%;
    height: 7vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  
  }
  

  
  .rights li {
    text-align: center;
}
  
  
  
  .info-bottom .tags{
    background:var( --tagsBackground);
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .info-bottom .tags li{
  width:20%;
  height: 25%; 
  font-size: 1.4vh;
  color: var(--tags);
  font-family: var(--text);
  text-align: center;
  }
  
  /*-- Footer end--*/ 


}


 
 
